<h1>How to Find Your Perfect Dog</h1>


<div class="box">
    <%= image_tag("collage.jpg", width: '250px')%>
    <h3><%= link_to "Survey!!!", new_survey_path %></h3>
</div>

<div class="box">
    <%= image_tag("bichon_frise.jpg", width: '250px')%>
    <h3><%= link_to "Toy Dogs", static_pages_toy_path %></h3>
</div>

<div class="box">
    <%= image_tag("Cavalier-King-Charles.jpg", width: '300px')%>
    <h3><%= link_to "Small Dogs", static_pages_small_path %></h3>
</div>

<div class="box">
    <%= image_tag("whippet.jpg", width: '300px')%>
    <h3><%= link_to "Medium Dogs", static_pages_medium_path %></h3>
</div>

<div class="box">
    <%= image_tag("Siberian-Husky-standing-outdoors-in-the-winter", width: '300px')%>
    <h3><%= link_to "Large Dogs", static_pages_large_path %></h3>
</div>

<div class="box">
    <%= image_tag("Bernese-Mountain-Dog-running.jpg", width: '300px')%>
    <h3><%= link_to "Extra Large Dogs", static_pages_xlarge_path %></h3>
</div>

