<div class= "container">
    <h1>Large Dog Breeds</h1>
    
<h2>Boxer</h2>

<div class= pics><%= image_tag("boxersf1.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Large<br>Male: 23 - 25 inches; 60 - 70 lbs.<br> Female: 21 - 23.5 inches; 55 - 65 lbs </td>
    </tr>
    <tr>
        <td>Colour</td>
        <td><p>The under-color should be tan or brindle, though the tan color may actually occur anywhere along the continuum of browns.</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>Adaptable to house living, but not suited for apartments due to their energy level.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Medium to High</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>9-11 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The Boxer is a dog that has a square built and strong, athletic limbs. He carries himself with grace and dignity, and his expressions are known to reflect his emotions. He has erect ears when cropped, which add to his alert expression, and a blunt muzzle. The coat of the Boxer is tight fitting, hard, short, and sleek, and the coloring of the Boxer is fawn or brindle with white markings.

The Boxer weighs in at around 50-85 pounds, and the height of the Boxer is around 21-26 inches. The Boxer has distinctive drooping jowls.</p>
<h3>Temperment</h3>
<p>The Boxer is a dog that is very good natured, and has plenty of affection, devotion, and love to give to his family. This is a dog that is friendly and playful, and craves attention - but has plenty of attention to give too. For those looking for a dog with bags of energy and a real people lover, the Boxer is the perfect choice. The energy levels of the Boxer do start to calm as he grows older, but this does not affect his playful and loving nature. At the same time the Boxer manages to be very dignified and steady. Some boxers can be headstrong and even animated in the way that they act, and their protective nature and love of their family makes them effective watchdogs.

The Boxer is known to get along very well with children, and loves to play with them. However, do bear in mind the size of this dog if considering a Boxer in a household with very small children. When properly socialized the Boxer should get along well with other pets, although some can be dominant and aggressive with other dogs of the same sex. When it comes to strangers the Boxer's response may vary - some may be very friendly and welcoming and others may be simply polite or even aloof and wary. This is a dog of high intelligence and a headstrong nature, which means that training can be a challenge. Although this breed is suited to inexperienced dog owners, confidence and assertiveness is required in order to maintain effective leadership.</p>
<h3>Training</h3>
<p>Boxers require a great deal of firm training to keep their exuberance in check. Training should begin when they're quite young, since they can become difficult to handle even when still puppies since they're so large and strong.

Though you should be consistent and firm with Boxers (and many other large dogs), they do not respond to punitive punishment. It is best to set things up so they can't help but succeed, then reward them for it. Some small treats and praise should be used in conjunction for the desired result.

Some lines can be hyperactive and there is little to be done with such dogs other than trying to wear them out in a rural setting. When buying a pup it is good to check the parents for this trait, as they can have a hard time settling down to learn when too wound up.

Almost all puppies are fun-loving clowns that take a few years to really grow up from a psychological point of view. Because they are intelligent, you should never underestimate their ability to break out. Their soft mouths have been known to manipulate locks on doors when left to the task long enough.

Housebreaking is usually quick since Boxers are so fastidious. Keeping an eye on your dog and shuffling them outside whenever they start towards the door or sniffing will give them a chance to get it right and earn your treats and respect. The key with this type of training vigilance upon your part, tough at least these dogs are large enough that they won't be able to sneak under the furniture and get away with it

Many people have had good result with using crates. As long a they're large enough for your dog to stand up and turn around in, they will come to think of them as a home and refuge. Of course, such a crate for a Boxer is rather large, so most people use classical methods of training.

Though somewhat stubborn, Boxers do generally want to please, and it's up to you to make them actually want to follow your commands. Aggression should be nipped in the bud, though most boxers are simply enthusiastic and curious.</p>
<h3>Health Problems</h3>
<p>The Boxer has a life expectancy of around 8-12 years, and there are a number of health issues that are linked to this breed. Some of the health problems to look out for include bloat, colitis, cancer, respiratory problems, thyroid problems, and heart problems. Also, remember that this is a short muzzle dog, and strenuous exercise can add to respiratory issues. As a short haired dog he also need shade and to be kept out of extreme temperatures. The parents of the Boxer should have OFA and CERF certificates.</p>
</div>

<div class= "container">
<h2>Labrador Retriever</h2>

<div class= pics><%= image_tag("14836444271483379598_breed_labrador-retriever-breed.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Large<br>Male: 22 - 24 inches; 65 - 80 lbs.<br> Female: 21 - 23 inches; 55 - 70 lbs</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>Black, yellow, chocolate</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>These dogs really do need a yard for exercise; if living in an apartment, they need regular exercise at least twice a day (or they can easily put on weight). Rural is ideal to keep a Lab healthy, and they are happiest if they have access to water. They love to spend time with their family.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Moderate to High</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>10-12 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The Labrador Retriever is a handsome, sturdy, and robust dog that is large in size. He has dark, wallowing eyes, and an eager and intelligent expression. The coat of the Labrador Retriever is short, close fitting, and sleek, and the coloring can be black, yellow, or chocolate. The weight of the Labrador Retriever is around 55-70 pounds for females, and around 65-80 pounds for males. In terms of height the Labrador Retriever reaches around 21-24 inches for females, and around 22-25 inches for males.</p>
<h3>Temperment</h3>
<p>The most popular of all the AKC breeds, the Labrador Retriever is a good natured, loving, and loyal dog that makes a wonderful family pet. These dogs are intelligent, responsive, and obedient, which makes them one of the easiest breeds to obedience train. The Labrador Retriever is well suited to both inexperienced and experienced dog owners. He is very quick to learn, and is friendly and sociable, with a mild manner and a very amiable attitude. The temperament and personality of the Labrador Retriever reflects his number one position on the AKC popularity list. He is full of energy, loves to join in with a wide range of activities, and has plenty of love and affection to shower upon his family.

The Labrador Retriever is not a dog that is suited to those with little time for their pets, as these dogs thrive on companionship and affection from their loved ones. Some do have a tendency to chew, and in particular can indulge in destructive chewing if neglected. Although these dogs have plenty of spirit and some can be quite independent, they are usually easy to train, as they are clever and eager to please. This breed gets along with just about everyone, from children and strangers to pets and other animals. These active dogs do require regular exercise, and will fare well with a secure, safe area in which to play and enjoy some exercise.</p>
<h3>Training</h3>
<p>The Labrador Retriever is an extremely excitable dog, known for its propensity for swimming, pulling on leashes, and jumping on friends and family members to show its excitement. This kind of behavior is normal for many dogs, but for the Labrador Retriever--which usually weighs at least sixty pounds, and often much more--it can be a serious problem. Rudeness is one worry, of course--no family member wants to be jumped on by a wet eighty-pound dog if they can help it--but over-excited and under-trained Labs can also knock down and injure children or smaller adults, and it's simply a hassle to deal with as a Lab owner.

So training for your Lab should start as early as possible. At about six months, Labs are fully-grown (physically, at least--mentally, Labs require about three years to fully develop), and training at this point becomes much more difficult simply due to the dog's large size. So introducing simple commands ("sit" and "heel" in particular) should be done before that six-month threshold in order to make later training much more manageable, and to discourage jumping and other rude behavior to some extent.

Consistency and positive rewards for good behavior (as opposed to negative punishments for bad behavior) are mainstays of any effective dog training, and both will work well with a Lab--with some reservations. Although an individual trainer can be perfectly consistent with a Lab where rewarding good behavior and discouraging bad behavior are concerned, the Lab will form its behavior patterns based on its entire human "family"--meaning that if one human tolerates jumping while another human forbids it, the Lab will usually continue to jump due to the "mixed messages". It's important to make everyone in your family aware of what rules the Lab is to follow and to make sure that everyone enforces those rules. Although Labs are very intelligent and can learn rules of behavior quickly, they can be just as quick to "unlearn" rules that don't make sense to them. So be as consistent with the rules as possible.

Positive rewards for good behavior should also be verbal rewards or rewards of affection--soothing voices, pettings, and other similar rewards--as opposed to food rewards. Labs have a tendency toward overeating, and offering food rewards for good behavior can contribute heavily to this problem if not moderated closely. If you do need to offer your Lab a special dog treat or other food-based reward for a particularly impressive feat of obedience, then make sure to adjust the Lab's diet accordingly in order to maintain good health in the long term--far more important, one could argue, than good behavior.</p>
<h3>Health Problems</h3>
<p>There are a number of health issues and disorders linked to this breed, and some of these include: eye problems, HD and elbow dysplasia, CMO, thyroid problems, vWD, diabetes, PRA, OCD, allergies, seizures, and heart problems. The life expectancy of the Labrador Retriever is around 10-12 years. The parents of the Labrador Retriever puppy should have OFA and CERF certificates.</p>
</div>

<div class= "container">
<h2>Golden Retriever</h2>

<div class= pics><%= image_tag("golden-retriever-royalty-free-image-506756303-1560962726.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Large<br>Male: 23 - 24 inches; 65 - 75 lbs.<br> Female: 21.5 - 22.5 inches; 55 - 65 lbs.</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td><p>Various shades of gold.</p></td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>These dogs do well in different living situations. A house with a fenced yard is ideal, but they can also do well in an apartment if they are given plenty of exercise.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>10-13 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The Golden Retriever is a large dog with a powerful, robust build and a very sweet face. His coat is soft and flat or can be wavy with feathering. The undercoat of the Golden Retriever is weatherproof. The coloring of the coat can be in one a variety of shades of cream and gold. The Golden Retriever always looks keen and eager. In terms of the weight these dogs are around 55-65 pounds for females and 65-75 pounds for males. Females are around 21-23 inches in height, and males are around 23-24 inches.</p>
<h3>Temperment</h3>
<p>A very popular breed, the Golden Retriever is a dog that is stable, loving, eager to please, and gentle. These dogs make wonderful companions and family pets, and they love to give and receive attention. The Golden Retriever is a loyal and devoted dog, with mild manners, a responsive nature, and a playful streak. These dogs love the company of humans, and are not suited to those that cannot commit much time to their pet. They are quite energetic, and in particular they love to swim. These dogs have a real passion for life and for everything they do, and are extremely sociable dogs that will get along with almost everyone.

Their love for just about everyone makes Golden Retrievers poor watchdogs, but the good news is that they get on well with children, strangers, and other pets. He loves to eat! Golden Retrievers suffer obesity because they eat and eat and eat and eat, so you must watch how much you feed him. These dogs do have a tendency to chew, and therefore should be provided with appropriate toys so that your own belongings and furnishings don't suffer. The Golden Retriever is a fast learner and a highly intelligent dog, which makes training easy and makes this breed suitable for inexperienced owners. He is a highly trainable dog. Positive obedience training with lots of praise and treats should begin from the moment you bring him home to ensure that he learns his manners. Trusting, obedient, sweet natured, and loving, the Golden Retriever is the perfect family pet and companion.</p>
<h3>Training</h3>
<p>Golden Retrievers are known for being an easy breed to train. They are excited to learn, eager to please, and their high intelligence allows them to learn behaviors and tricks quickly. Most dogs from this size benefit from obedience training, and a good program that allows them to socialize with other dogs is an added bonus.

Goldens Retrievers are easy to train to do jobs. Golden Retrievers have been trained to work with Police to locate drugs, excel in agility training and enjoy learning how to perform tricks.

Golden Retrievers are popular candidates for training to become aid dogs. Their quick minds make them ideal for guiding the blind, and the training for this job begins when they are puppies. They are also trained to do other wonderful things for people such as uplifting the sick, and entertaining the aging.

It is important to begin teaching basic commands such as sit, come, stay and heel. The sooner these basic commands are mastered, the easier it will be to manage your dog as it grows and as you are training progresses.</p>
<h3>Health Problems</h3>
<p>The life expectancy of the Golden Retriever is around 10-14 years, and there are a number of health problems that have been linked to this breed. This includes cataracts, entropion, allergies, thyroid problems, cancer, epilepsy, OCD, HD, and vWD. Parents of the Golden Retriever puppy should have OFA and CERF certificates.</p>
</div>

<div class= "container">
<h2>Poodle-Standard</h2>

<div class= pics><%= image_tag("poodle.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Medium-Large<br>Male: Over 15 inches; 45 - 55 lbs. (usually over 21")<br> Female: Over 15 inches; 45 - 55 lbs. (usually over 21")</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>Any solid colour.</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>Poodles are very people oriented, so do best living inside with their family. They can live in an apartment, as long as they get a long walk every day, or a run in the park. They were originally working dogs, so they do need a way to burn off their natural energy.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Light</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>10-13 Years</td>
    </tr>
</table>


<h3>Description</h3>
<p>The weight of the Affenpinscher is around 7-12 pounds, and the height around 8-12 inches. He has a rough coat, which comes in a variety of colors including black and tan, black, gray, silver, and red. This is a sturdy little dog with an intelligent and alert expression.</p>
<h3>Temperment</h3>
<p>The Affenpinscher is a small dog with bags of curiosity and playfulness, and is a great choice for those with little experience with dogs as well as for those that are more experienced dog owners. This is a breed that is very playful and entertaining, and is alert and agile, but can also be suspicious towards others and can be very stubborn and strong willed. However, in most cases these toy dogs will get on fine with other family pets, and with older, considerate children, although they are not recommended for families with younger, boisterous children. You will need to quickly show this breed who is boss otherwise you may find your Affenpinscher to be very demanding and bossy. This is a sensitive breed, and is also intelligent and energetic. His stubborn streak can make training a little difficult, however, and he can be hard to house break.</p>
<h3>Training</h3>
<p>The Affenpinscher is a very intelligent dog that does best when challenged mentally. They quickly become bored with the same requests, and do not do well with a highly repetitive training program. Since they are so intelligent, they will quickly learn both correct and incorrect behaviors so early, firm, loving and consistent training is essential.

The breed is naturally playful and mischievous, so should not be expected to be a completely serious dog. They love to be in the middle of action and activities, and often can become quickly distracted by things going on in the environment. Training sessions should be short and in a distraction-free environment until the puppy or dog understands the basic commands. Once they know what you are expecting, they will quickly learn to follow commands even when something is going on around them.

The Affenpinscher, like many small dogs, can be difficult to house train simply because of their physical size. Crate training is an ideal solution to this problem, and is very effective when done correctly and with the success and comfort of the puppy in mind. Since the Affenpinscher loves to be outdoors, getting them to go outside is not typically a problem.

As with any breed, it is important to socialize this breed as part of a well-rounded training program. The more contact that puppies and adult dogs have with other people, animals and places, the more accepting and less anxious they will be. Affenpinschers are naturally rather protective and possessive of their food and toys, so training them early to "give" without snapping or guarding is important, especially if there are children in the house.

Training sessions should always begin and end with some fun time for the owner and the dog. Playing, throwing or rolling a ball or just romping with the dog or puppy helps in getting rid of excess energy, and to assist with bonding.</p>
<h3>Health Problems</h3>
</div>

<div class= "container">
<h2>Siberian Husky</h2>

<div class= pics><%= image_tag("Siberian-Husky-standing-outdoors-in-the-winter.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Large<br>Male: 21 - 23.5 inches; 45 - 60 lbs.<br> Female: 20 -22 inches; 35 - 50 lbs.</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td><p>All colours from black to pure white.</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>These dogs are bred for cool climates, so if you live somewhere hot or tropical, AC is a must. They like to be outside, though they can adapt to apartment living if trained that way from a pup, and they get plenty of exercise - though it is not recommended.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Heavy</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>11-13 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The Siberian Husky is a handsome looking dog, and has a sturdy and athletic build. Medium in size, this hardy and robust dog has an eager expression, and his small, erect ears also lend him an alert appearance. He has a double coat, which is made up of a soft, dense undercoat and a straight, smooth outer coat. The coloring of the Siberian Husky can vary, and includes silver, black, red, or gray, with white markings, although some can also be solid white. The eyes of the Siberian Husky can be blue, brown, parti-color, or mixed.</p>
<h3>Temperment</h3>
<p>A gentle and sweet natured dog, the Siberian Husky is a breed that makes for a great family dog. He has a dependable nature, and is loving and affectionate, enjoying attention and interaction from his family. This is a dog that will not fare well with those that cannot dedicate time and attention to him, as neglect will lead to boredom and destructive behavior such as chewing. The Siberian Husky is very energetic and does need plenty of exercise, so he will not be the right choice for those with little time to engage in exercise and activity. Fast, agile, and playful, these dogs make excellent hiking or jogging companions. A good amount of exercise is necessary for this breed, and you will need to provide a safe and secure exercise and play area for times that he is not on the leash - as these dogs are adept as escaping.

The Siberian Husky is a hardworking dog, and is able to haul heavy loads over long distances. He loves to dig wholes in your yard. He may bark and howl from time to time, but is generally pretty quite. He will bark to raise an alarm however, and this makes him an effective watchdog. These dogs must be raised with children in order to get along with them. They tend to be sociable and friendly around strangers. When it comes to animals, the Siberian Husky will usually get along okay with other dogs but is not to be trusted around cats and smaller animals, as he does have a high prey instinct. Although intelligent and quick to learn, the Siberian Husky can be a challenge to train, and is best suited to those with some experience of dog ownership who can establish themselves as pack leader.</p>
<h3>Training</h3>
<p>The Siberian Husky breed is highly intellectual and can be trained to do almost anything as seen in movies where these dogs are used. With patiance and good training you will have the ultimate life partner.

It is a challange thoe, They are extremely intellagent, energetic and stubborn. One must expect the unexpected. Since the dog is pack-oriented, it is important to establish yourself as the head of the pack, or alpha very early. It is very important to understand the distinction between establishing yourself as alpha and bullying the dog into submission - It is NOT the same thing! The former is simply a communication that the dog needs and expects, while the latter is very negative and detrimental to the dog's well-being. By establishing yourself as the leader of the pack early, your dog will learn to respect you and look to you for guidance and will know where the boundaries for acceptable behavior lie. Obedience training this breed can be very interesting and extremely challenging. Many owners will complain that their dogs act perfectly in class, but will not obey at home. This breed is intelligent enough to differentiate situations very well, and will apply different rules of behavior for different situations. You must stay on top of the dog and maintain control, which is easier to do while the dog is of manageable size than with a stubborn, energetic adult that has been allowed to get away with undesirable behavior for a long time. The Siberian Husky is recommended to stay on a leash if not in well fenced areas, Thoe there are known cases of well trained Sibes that can be let of the lead at any time, it is still not recommended.

Socialization is one of the necessary requirements to successful dog ownership. This breed thrives in dog and human activities. They need company like they need food and water. Socialization and social activity for these dogs is mandatory to maintain a happy, well balanced and almost well behaved Siberian Husky.</p>
<h3>Health Problems</h3>
<p>The life expectancy of the Siberian Husky is around 12-14 years. There are a number of health problems associated with this breed, and this includes PRA, cataracts, glaucoma, HD, and thyroid problems. The parents of the Siberian Husky puppy should have OFA certificates as well as either CERF or SHOR certificates.</p>
</div>

<div class= "container">
<h2>German Shepherd</h2>

<div class= pics><%= image_tag("german-shepherds.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Large<br>Male: 24 - 26 inches; 55 - 70 lbs<br> Female: 22 - 24 inches; 45 - 60 lbs.</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>Black & tan, black, gray, silver, and red</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>German Shepherds are fairly inactive indoors, which means that they adapt quite well to apartment living, as long as they get their daily run or exercise.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>12-15 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The German Shepherd Dog is a handsome and powerful creature, with a well built, athletic body, an alert expression, and tall, erect ears. His coat is straight, hard, and medium in length, and he also has a dense undercoat. The coloring of the German Shepherd Dog can vary and includes black and tan, sable, and black. The German Shepherd Dog weighs in at 60-80 pounds for females, and 75-100 pounds for males.</p>
<h3>Temperment</h3>
<p>The German Shepherd Dog is a very popular breed as reflected by his position on the AKC popularity list. This is an alert, lively, loyal, and very intelligent breed. He is often used as a military, police or search and rescue dog. These dogs are obedient and very quick to learn. He is one of the easiest of all breeds to train due to his high intelligence. The German Shepherd is active, full of energy, courageous, confident, and independent. In fact, The high intelligence and responsive nature of the breed makes this one of the easiest dogs to train. Some German Shepherd Dogs can be quite aloof and serious, and some can be dominant and sharp. However, these are very capable dogs, and are eager to please their owners, although their personality makes them best suited to those with some experience of dog ownership. You will need to ensure that you provide your German Shepherd with physical and mental stimulation, and these dogs do not fare well when isolated or neglected. The German Shepherd will need regular exercise, including daily walks and regular runs, although this should obviously be either in a safe and secured area or on the leash.
The German Shepherd is known to get along very well with children, although you should bear in mind his size if you have younger children. Early socialization is important if you have other pets, as these dogs may chase smaller animals such as cats, and can also be aggressive or dominant with other dogs of the same sex. Whining can be a problem with the German Shepherd, as some will whine a lot. The German Shepherd is known for its protectiveness too, and therefore makes a very affective watchdog and will not back down if he feels that he or his loved ones are being threatened.</p>
<h3>Training</h3>
<p>The German Shepherd Dog is one of the most intelligent breeds of dog and one of the easiest to train. Training should begin at a young age, and should be handled with patience and consistency. Because they are so intelligent, it's important to train them firmly from the very beginning. However, overly harsh correction will only make the dog stubborn and willful, so it's best that you be patient and praise his good efforts. He will likely house train very quickly, particularly if you crate train him.

This breed is so intelligent and so enjoys a mental challenge that they can be trained to do nearly anything; a fact that is proven by the many jobs they've had over the years. Many people associate German Shepherd Dogs with being aggressive watchdogs, but this behavior is the result of training. A German Shepherd Dog will always be protective of his family and will always be wary of strangers, but they are not aggressive by nature.

Because they are wary of strangers, socialization should begin at an early age. It is important for your German Shepherd Dog to be intuitive about your reactions to people who come into your home. Once your dog learns your reactions, he will gauge his own, and your friends will be his friends. However, if he senses that you're concerned, he'll be concerned and as protective as he believes is required. This is one dog that will consistently take cues from his owner. So, over time, the two of you will become fast friends and you'll be able to rely on your German Shepherd Dog's behavior.

Playing games and participating in activities is an important part of bonding with your German Shepherd Dog. He will want to be active, and will enjoy participating in activities with you. Because of his great sense of smell, "find" is a perfect game for this breed. But, he'll also love to fetch and play ball and Frisbee. German Shepherd Dogs have a great sense of humor, so you'll both get lots of enjoyment out of simply having fun together. The German Shepherd Dog is a very fast runner and also has great endurance. If you're a runner, this dog will be your best running companion ever.</p>
<h3>Health Problems</h3>
<p>The life expectancy of the German Shepherd Dog is around 12 years, and there are a number of health problems that are associated with this breed. This includes spinal problems, bloat and torsion, HD and elbow dysplasia, OCD, epilepsy, pancreas problems, and eye problems. The parents of the German Shepherd Dog puppy should have OFA and CERF certificates.</p>
</div>

<div class= "container">
<h2>Doberman</h2>

<div class= pics><%= image_tag("download (1).jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Large<br>Male: 26 - 28 inches; 70 - 90 lbs<br> Female: 24 - 26 inches; 65 - 80 lbs.</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>Black, red, blue and fawn, all with tan markings.</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>Happiest if they can live indoors, but they need room to exercise, so a house with a yard is best.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>High</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>10-12 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The Doberman Pinscher is a sturdy, athletic, and powerful dog, with great agility, stamina, and endurance. These handsome dogs have a close fitting, smooth, short coat, and ears can be cropped to stand erect or left handing naturally. The hard, sleek coat of the Doberman Pinscher can vary in color and the coloring of these dogs includes fawn, blue, brown, black, with rust colored markings on the head and legs. The height of the Doberman Pinscher is around 22-28 inches, and the weight 65-85 pounds.</p>

<h3>Temperment</h3>
<p>Proud, noble, and alert, the Doberman Pinscher is a dog with plenty of devotion and love to give. These dutiful dogs tend to have an even, well balanced temperament, and are intelligent, creative, and quick to learn. The Doberman Pinscher excels in obedience training when it is positive and includes treats and lots of praise. They are one of the most intelligent and fastest learning of all breeds. These dogs are best suited to those who can establish themselves as "boss" from day one, as this breed can be strong willed and stubborn. These dogs definitely do not take kindly to being teased or treated roughly. It is important to ensure that you provide the Doberman Pinscher with plenty of physical and mental stimulation, otherwise he can get bored and restless, which can result in behavioral issues.</p>
<p>The Doberman Pinscher tends to get on well with children when raised with them, although you should be mindful that his large size can result in problems when younger children such as toddlers are around. He also gets on okay with other pets, although he may be bossy and dominant with them, quickly establishing himself as the leader of the pack. He may chase smaller animals such as cats or rabbits due to his high prey drive, but this can be curbed by socializing him with your household pets early on. The Doberman Pinscher can be reserved with strangers so plenty of socialization from a young age is important. He is fearless, powerful and protective of his loved ones. He will fight if provoked, and he definitely wont back down (unless trained to), making him an effective guard dog.</p>
<h3>Training</h3>
<p>The Doberman is a very intelligent breed, but they do need extensive training. They have a dominant personality and must be taught early on that you are the "alpha dog". In addition, due to their size and strength, it is imperative that their owners be able to handle them. They are assertive but not aggressive unless they are trained to be such. However, if they sense that you fear them or that you cannot show dominance over them, they are quite happy to be the dominant one in your household. If you have other pets, it's likely that your Doberman will be the dominant animal in your home.

They are energetic, and will be happiest if you give them regular opportunity to run off this energy. He should be thoroughly socialized at an early age so that he is comfortable around strangers.

The Doberman does not need guard dog training. They are naturally loyal and protective of their families. Too much "guard dog training" may cause them to be overly dominant or aggressive. By nature they will be protective, but will not attack unless they truly believe there to be the need. This natural temperament is what you want to keep.

Some owners run into training issues with Dobermans because they are afraid of them. It is imperative that every member of the family be taught to handle the dog with confidence, or the dog will become dominant. Training should be through positive reinforcement and should include the entire family. If you spend time with your Doberman and take the time to train him appropriately, you'll find no better family dog. They will want to be with the family and will require regular interaction. This is not a dog that can be relegated to living alone in the back yard.</p>
<h3>Health Problems</h3>
<p>The life expectancy of the Doberman Pinscher is around 8-12 years, and there are a number of health problems and disorder linked to the breed. This includes cancer, bloat, thyroid problems, liver problems, and spinal problems. The parents of the Doberman Pinscher puppy should have OFA certificates.
</p>
</div>

<div class= "container">
<h2>Rottweiler</h2>

<div class= pics><%= image_tag("rottweiler.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Large<br>Male: 24 - 27 inches; 85 - 135 lbs.<br> Female: 22 - 25 inches; 80 - 100 lbs.</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>Black with tan markings.</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>A house with a fenced yard or an acreage is recommended, although apartment living can be acceptable since Rottweiler'sare not too active indoors. Daily exercise is a must or these dogs become bored and destructive, regardless of it living on an acreage or in a small apartment.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>8-11 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The Rottweiler is a large dog, with a sturdy, muscular build. He has a handsome yet rugged look about him, and an intelligent expression. His coat is short, close fitting, and has a coarse texture. The coloring of the Rottweiler is black with mahogany or tan markings. The Rottweiler weighs in at around 80-100 pounds for females, and 95-135 pounds for males. The height of these dogs is around 22-25 inches for females, and 24-27 inches for males.</p>
<h3>Temperment</h3>
<p>The Rottweiler is a dog that loves to work, and has plenty of stamina, power, and endurance. These dogs are fiercely loyal and protective, and will do whatever it takes to defend their loved ones. Many tend to bond to one particular person more than others. They are confident, powerful, serious, and courageous. However, they are not the right choice for timid and inexperienced dog owners, as they do require proper training and handling. He is responsive and intelligent, and with an assertive trainer who uses positive training methods the Rottweiler will learn extremely quickly. He is an extremely territorial creature, and early socialization for this breed is essential. The Rottweiler needs firm discipline and consistent training.

It is important to provide regular exercise, plenty of interaction, and mental stimulation for the Rottweiler. These dogs can be a handful, and do have a fair amount of energy. A safe, secure area is essential for these dogs to play and exercise, and he will need plenty of space, as he is a large creature. Rottweilers tend to get on well with children when brought up with them, and with older children that will not pester them. He tends to be aloof around strangers, and care must be taken because of his strong protective streak - again, early socialization and proper training is a key factor. Early exposure to pets is also important, and the Rottweiler can be aggressive towards cats and dogs. However, with the right family and owner, the Rottweiler can make a loyal, devoted, and loving pet.</p>
<h3>Training</h3>
<p>Rottweilers are very intelligent and easily trained. They should be taught from an early age what is acceptable behavior and what is not. Like any dominant breed, Rottweilers must be handled with firm and consistent training. They need to be trained to respect and obey all family members. Socialization should start early by introducing the puppy to other dogs, strangers and new situations. These dogs love to play hard and could unintentionally injure or knock down a child. Proper manners must be taught to ensure that they behave properly around children. Rotties love to please and learn new tasks, making them quite fun to train. They do well in tracking, police work, agility, obedience and anything you put in front of them.

If left alone for long periods of time, or if allowed to become bored, a Rottie can become quite destructive. Crate training is recommended. Start from an early age and be firm and consistent, don't give in to a crying puppy. Once a dog is comfortable in a crate, they will most likely be quiet and sleep, waiting for their loved owner to come home. To keep the dog busy in the crate, try giving him a Kong filled with frozen peanut butter. This will keep them busy and entertained.</p>
<h3>Health Problems</h3>
<p>As with many large dogs, the Rottweiler has a shorter life expectancy than many other breeds, and lives to around 9-10 years. There are a number of health problems to look out for with this breed, and this includes heart problems, eye diseases, bloat, thyroid problems, cancer, OCD, HD, seizures, and allergies. The parents of the Rottweiler puppy should have OFA and CERF certificates and heart clearance.</p>
</div>

<div class= "container">
<h2>Greyhound</h2>

<div class= pics><%= image_tag("Greyhound-running.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Large<br>Male: 28 - 30 inches; 65 - 70 lbs.<br> Female: 27 -28 inches; 60 - 65 lbs.</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>Most any color (black, gray, red, fawn). Can be either solid or brindle, or spotted.</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>Though known for their speed and running, indoors they are quite relaxed. Because of this, they adapt quite well to apartment living. They also do well in homes with yards or living rural.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Low-Moderate</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>10-13 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The Greyhound is a large, svelte, and very graceful dog, and has a long, thin muzzle and an intelligent expression. The coat of the Greyhound is fine and close fitting, and the coloring can vary and includes brindle, white, fawn, cream, blue, and black. The weight of the Greyhound is 55-65 pounds for females and 65-80 pounds for males. The height of these dogs is around 26-30 inches.</p>
<h3>Temperment</h3>
<p>The Greyhound is an agile, graceful, and determined dog, and this breed is best known for its racing abilities and is a racetrack dog. Friendly and gentle yet lively and fun, the Greyhound is a sweet and sensitive creature, and enjoys the peaceful life but also enjoys the companionship of his loved ones. This said, the Greyhound is not a clingy dog and is independent, serious, and sensible. These docile dogs are the fastest of all the breeds, and will need to be given the space to run a few times each week. However, the exercise requirements for the breed are not overly excessive, and the Greyhound will enjoys spending time relaxing providing he gets the chance to run in a safe area on a regular basis.
The Greyhound gets along well with children, although he is best around older and more considerate children. He also tends to get along okay with other animals, although he can be a chaser when it comes to smaller dogs and other small animals - early socialization is recommended. With strangers the Greyhound can be quite reserved yet polite. The Greyhound is a dog that is best suited to a peaceful environment, and although effective training is important owners should be calm and positive with this breed and never demanding or harsh. One thing to watch out for with the Greyhound is his tendency to steal toys and food.</p>
<h3>Training</h3>
<p></p>
<h3>Health Problems</h3>
<p>The life span of the Greyhound is around 9-14 years, and there are a number of health problems that have been associated with this breed. Some of the health issues to look out for include thyroid problems, bloat, PRA, digestive problems, bleeding disorders, and allergies to drugs and chemicals. The parents of the Greyhound puppy should have CERF certificates.</p>
</div>