<div class= "container">
    <h1>Medium Dog Breeds</h1>
    
<h2>Border Collie</h2>

<div class= pics><%= image_tag("140_collie_border.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Medium<br>Male: 19 - 22 inches; 30 - 45 lbs.<br> Female: 18 - 21 inches; 27 - 42 lbs.</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>Black/white, chocolate/white, red/white, blue/white (slate), lilac/white, sable/white, tri-color, saddle pattern, blue merle, red merle, sable merle.</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>Do best on a farm or acreage, they to to have room to run. They do not do well chained up.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>High</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>12-15 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>A handsome looking dog, the Border Collie weighs in at around 30-50 pounds and is around 17-20 inches in height. Most commonly the Border Collie is black and white, but there are other colors, which include chocolate, red, and blue.</p>
<p>The coat of this breed can be either short, or can be longer and feathered. The former is the easiest to care for in terms of grooming. This dog has an alert and keen expression, and his eyes can range from brown to blue or a combination of colors.</p>
<h3>Temperment</h3>
<p>Highly intelligent and trainable, the Border Collie is a very agile dog with plenty of stamina and determination. This is a dog that is eager to please and very quick to learn, which makes him a pleasure to train. He is one of the most trainable of all breeds. This is a well balanced dog with a good temperament and a good nature. The Border Collie is loyal and dedicated, and is both faithful and affectionate to his family. However, despite all of these traits, the Border Collie is not a dog that will be suites to all owners, as he needs a high level of mental and physical stimulation (running, biking, fetching, walking) and will not fare well without this.</p>

<p>The Border Collie may get on okay with older, more considerate children, but is probably not the best choice for those looking for a companion for their child or for those with smaller children. These dogs can be wary around strangers, but can get on okay with other pets. However, their strong herding instincts means that they may try and herd everything, from children and family members to pets and just about anything else. In some cases, the high energy levels of the Border Collie can make it a little hyperactive, but with the right level of attention, exercise, and mental stimulation this is a problem that can be relieved.</p>
<h3>Training</h3>
<p>Borders are one of the smartest breeds hands down and learn very quickly. Their intelligence isn't the issue the trainer is the issue. These dogs are very difficult for the average person to train.</p>

<p>These dogs are so intelligent that they can actually manipulate you to do what they want you to do. Some can be very willful and dominant - the Alpha dog - and the only way to work with that is to prove to them that you can make them do things.</p>

<p>They are very sensitive dogs and a harsh correction may make them freeze and shut down on you - for instance roll over on its back or pay close attention to something else besides you. Or, they may also get even more anxious and speed up, which will cause more miscues. You need to be firm and consistent with them because they will try and get away with as much as they can. Also be careful about sounds, as Borders are very sensitive to sounds.</p>

<p>The most frustrating part about training a Border is their hypersensitivity to the slightest sound or movement you make. They try to anticipate what you want them to do and guess at what comes next. Trying to get them to actually remain still and wait for the actual command is challenging to say the least. The best type of training for the Borders is motivational with lots of treats/play time.</p>

<p>And another love of Border Collies is tricks. They love learning new things and can be taught some great stunts like playing dead or rolling over - anything so they can show off. It appeals to the clown in them.</p>
<h3>Health Problems</h3>
<p>The life expectancy of the Border Collie is around 13-15 years. There are a number of health issues and problems that are linked to this breed, and this includes deafness, seizures, allergies, epilepsy, cataracts, OCD, PRA, and HD. You should ensure that the parents of the Border Collie puppy have OFA and CERF certificates.</p>
</div>

<div class= "container">
<h2>Basset Hound</h2>

<div class= pics><%= image_tag("basset-hound-u6-1024x640.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Medium<br>Male:12 - 15 inches; 30 - 65 lbs. <br> Female: 12 - 15 inches; 20 - 55 lbs </td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>Any true hound colour.</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>The Basset Hound can live either indoors or outdoors, though it is bred as an outside dog due to its hunting instincts. They do best in a home with a yard, or plenty of outside exercise.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>8-12 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The Basset Hounds are the only living descendents of our earliest scent hounds, and as a smooth, short-coated dog, the Basset Hound has a long, heavy body with wrinkly-cute, short stout legs. This Basset form has been developed over centuries for its owners to follow the dog on foot with the dog leading, as they hunt through dense cover for badgers, rabbits, and hares, allowing the hound to hunt with its famous sense of smell.</p>

<p>The head of the Basset is its strong point with a rounded skull and loose-fitting skin, falling in folds around the head. Long soft ears should meet beyond the top of the nose when extended, having the ability to fold, and not look "flat." But it is the eyes, sad brown eyes, which reach the hearts of people, as they are kind with softness and no harsh appearance. Round hindquarters and large paws add to the look of gentleness and make one wonder how such a beautifully powered dog could ever hunt live game, looking like it should be on the lap of its owner as a fluffy lap pet whose only mission in life is to be petted.</p>

<p>Physical characteristics of the breed allow the thick coat to protect the dog from being torn or hurt from bramble bushes during the hunt, or getting caught up in them. All of his features, working together as one, make the Bassett Hound an excellent tracker in its slow and easy meandering way, while it sniffs scent and then trails the find. Stubborn and slow moving, once this dog gets on a trail, it refuses to give up until the trail has disappeared with or without its owners or trainers.</p>

<p>Compared to other breeds, the Basset Hound has a much heavier bone that is in total proportion to its physical size. While it is considered a short dog, once a person tries picking them up they will never make the mistake of calling the Basset a small dog simply because they are low to the ground. This heavy weight is what works with the slow-moving attribute of the dog, as it moves forward with sheer determination, focusing on the scent with its nose to the ground. But once the scent is found, their loud beautiful baying makes the heart pound with excitement and nostalgia for this ancient breed on the hunt once again.</p>
<h3>Temperment</h3>
<p>The Basset Hound is seen as an especially friendly breed. For this reason they are an excellent pet for children. Although some people believe that Bassets are not particularly intelligent, they are quite smart and display their intelligence with a charming sense of humor. They are known as the "clowns of the dog world". Perhaps people believe that Bassets aren't smart because they "forget" the training when a food reward is not present.</p>

<p>Because Bassets are scent hounds, they should always be on a leash when out on walks. They have a tendency to run, especially after prey, so a leash is very important for their safety.</p>

<p>Bassets are known to be a vocal breed. Bassets might howl or bark when they want something or to suggest that they think something is wrong (like a storm is coming). They also use a low, murmuring whine to get attention, which sounds to many owners as though their Bassets are "talking." This whine is also used by the hound to beg (for food or treats) and varies in volume depending on the nature of the individual hound and length of time it has been begging.</p>
<h3>Training</h3>
<p>Even though the Basset Hound is one of the most popular fun-loving breeds for families and affection, they are the worst ones chosen for intelligent and fast training not intelligent, mind you but fast. And a person will never get quick and fast results from a Basset, because they do not want to learn unless they have a good reason to. The trainer or owner needs to show them "why" they need to learn, and make it fun for them to get their attention. And for anyone who has attempted to train a Basset, they will recognize this fact instantly.

Before beginning a strong training schedule with the Basset, respecting the breed may be the first big step to conquer. Once this is done, the wisdom of training this reluctant breed will be made much easier, along with the understanding of how they think and why they do what they do coming into play.

Once the intelligence of the Basset is brought forth, along with recognizing that different rules may need to apply to the particular training style, both the trainer and the "trainee" will be ready to go eagerly and happily. But it will be a challenge and hard work, even with these preliminary steps already accomplished. This breed is stubborn and mule-headed once it is on the hunt. Those who know the breed know from experience that no matter how much the dog loves them, once on a hunt the dog will take off and never turn around to see if they are following. LOTS of patience while maintaining a steady and loving manner will work wonders with any breed, but this breed requires it along with persistence and sheer determination.

The Basset is naturally a pack animal, along with being a "team member" as long as it is fun. Fun desiring, along with being lazy enough to want do nothing but sleep, is where the challenge will come in. The effort to get this breed off the floor or couch, while recognizing it will be fun to do what you want not what the dog wants. To do that, become the alpha dog, the leader, the boss, the one who does the commanding and will not quit. Once this is recognized, the training will begin in a successful direction to develop one of the most wonderful companions known on earth, and one of the most trusting breeds alive.</p>
<h3>Health Problems</h3>
<p>Because of the extremely long ears of Bassets they are prone to ear disease. If their ears are allowed to dangle on the ground or in food on a daily basis they are capable of developing chronic and potentially fatal ear diseases.

In addition to ear problems, basset hounds may also have eye issues. Because of their droopy eyes, the area under the eyeball will collect dirt and become clogged with a mucus. It is best to wipe their eyes every day with a damp cloth. This helps to lessen the build up and eye irritation.

Basset Hounds can be on the lazy side and can become overweight on their own if allowed to. They need plenty of exercise and a good diet. Obesity is not only a weight issue but because of the strain it puts on the intervertebral disks it can cause back problems.</p>
</div>

<div class= "container">
<h2>Whippet</h2>

<div class= pics><%= image_tag("whippet.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Medium<br>Male: 19 - 22 inches; 25 - 45 lbs.<br> Female: 18 - 21 inches; 25 - 45 lbs.</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>Color is immaterial to the AKC. Tthey come in many colors including black, white, red , fawn, brindle and blue. Come in solids and patterns.</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>Though these dogs enjoy being outside to exercise and play (they need a daily run), they need to live indoors. They do not handle cold well, and they overheat easily. Do great in apartments. Do need a soft surface to sleep.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>12-15 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The Whippet is a svelte, elegant, and fragile looking dog. He looks very much like a small version of a greyhound. These dogs have long legs, intelligent expressions, and move with grace and dignity. The coat of the Whippet is close fitting, fine, and smooth. The coloring of these dogs can vary and includes blue, brindle, white, fawn, and black.</p>
<h3>Temperment</h3>
<p>Affectionate, gentle, and sweet, the Whippet is an adaptable creature with an amiable attitude. These dogs are devoted pets and companions, and are fine with inexperienced owners as well as the more experienced. The Whippet does like to have a run around and play, but is also happy enjoying the creature comforts of home. These dogs love the attention of their owners, and enjoy interactive play. He does require daily exercise, and his play area must be safe and secure, as he is very agile and will be off and away before you realize. They are very in tune with the emotions of their owners, and are sensitive and sometimes timid. Early socialization is important with the whippet to promote a more confident, outgoing personality. When they put their minds to something and see something that they think must be chased Whippets are intensely focused. However, they are also dogs that enjoy snuggling up with their owners and relaxing on the furniture.

The Whippet will get on well with children, but he is fragile and should not be around younger, boisterous children that may pester and rough handle him. Some may be timid around strangers, whereas others will be polite. They do make good watchdogs, as they will bark is something appears to be amiss. With early socialization the Whippet should get on okay with household pets, although owners may want to be cautious around smaller, running creatures that could be seen as prey. Like other sighthounds the Whippet is very sensitive to touch, and should not be startled with unexpected physical contact. Their intelligence, eagerness to please, and quick learning rate makes these dogs relatively easy to train, although corrections must always be verbal because of their sensitive nature.</p>
<h3>Training</h3>
<p>Training your Whippet can be a fun and yet challenging experience. They are known for being very headstrong, but at the same time, they are eager to please their owner. Many dogs were bred years ago to do a certain thing and now that they are domestic, we expect them to become a different type of dog. Luckily for the Whippets, who were bred to race and course, we train them for the same things today. With patience and time, you can teach your Whippet obedience that will impress anyone.

It is important to remember that Whippets are very sensitive dogs and will not respond well to physical punishment or to loud, angry or stressful voices. In fact, it will be worse than no training at all. They are very capable of being taught the basic home commands such as sit, down, stay, etc. With time and patience, many dogs complete not only basic obedience but also go to compete in advanced obedience competitions. Many Whippet owners go all the way successfully with the training including lure coursing, racing, fly ball competition and agility. Lure coursing is chasing a plastic bag pulled by a string, but often has the appearance of a fluffy animal.

If you are planning to train your Whippet for any type of competition, it is important that he or she be in top physical condition. They require exercise regularly, good nutritional food and need to be free from parasites, which can make them weak and sick. You may want to have your local vet check him over to assure he is in top condition so he can do his best. Allow your dog to train around other dogs if possible to promote a sense of competition in him or her. Training for competition can begin as early as 3 months of age. Allows show your Whippet when he has done well. Be generous with praise and treats during training.</p>
<h3>Health Problems</h3>
<p>There are a number of health problems to look out for with this breed. This includes cataracts, lens luxation, heart problems, SA, PRA, thyroid problems, and sensitivity to chemicals and drugs. You should also remember that the skin of the Whippet is very thin and can easily get damaged by anything from garden nettles to the claws of an angry cat. They are very sensitive to cold because of their thin skin, and should be provided with a sweater in colder weather when outdoors. Make sure that you provide the Whippet with soft, cushioned bedding to protect his bones and joints from pressure. The parents of the Whippet puppy should have CERF certificates and clearance for sebaceous adenitis (SA).</p>
</div>

<div class= "container">
<h2>Staffordshire Bull Terrier</h2>

<div class= pics><%= image_tag("staffordshire-bull-terrier.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Medium<br>Male: 18 - 19 inches; 35 - 40 lbs.<br> Female: 17 - 18 inches; 30 - 35 lbs</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>Red, fawn, white, black, or blue, solid or with white. Any shade of brindle or brindle with white.</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>Does fine in a small apartment if the dog is properly exercised every day.. They don't tend to bark too much, so noise isn't a factor.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>12-14 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>Although small in size, the Staffordshire Bull Terrier is a very muscular, sturdy dog in terms of build. These compact dogs have an alert expression, and small ears that fold to the side of the head. The coat of the Staffordshire Bull Terrier is smooth, short, and close fitting. The coloring of the coat can vary, and includes black, white, fawn, red, blue and brindle, often with white markings. In terms of height the Staffordshire Bull Terrier stands at around 14-16 inches. These dogs weigh in at 24-35 pounds for females, and 28-38 pounds for males.</p>
<h3>Temperment</h3>
<p>Strong willed, spirited, and energetic, the Staffordshire Bull Terrier is a dog that loves the attention and companionship of his family. These little yet sturdy dogs have plenty of devotion, love, and loyalty to give to their owners. Although the Staffordshire Bull Terrier does not tend to bark a lot, he is an alert dog - and although he may not necessarily try and chase away an intruder he would defend his loved ones fiercely if anyone tried to harm them. The Staffordshire Bull Terrier loves spending time with his family, and could be construed as a little clingy - he is certainly not the right choice for those with little time to devote to a pet. The Staffordshire Bull Terrier has strong impulses and can be headstrong, so he is best suited to those with some experience of dog ownership. Consistent, firm, and positive training from a confident, assertive owner is important.</p>

<p>Early socialization is necessary to promote a stable, even temperament in the Staffordshire Bull Terrier. You will need to provide these dogs with a good amount of exercise, as he does have bags of energy. He is a very good digger and jumper, so a securely fenced, safe area is essential when he is not on a leash. These dogs love to chew, so you should invest in appropriate toys in order to save your belongings. Bred for dog fighting, the fighting instinct in the Staffordshire Bull Terrier is strong, and he may challenge other dogs. However, with proper socialization he will get along okay with other household dogs and cats. These dogs get along well with strangers, and are very good with children who are older and gentle.</p>
<h3>Training</h3>
<p>The Staffordshire Bull Terrier is a very intelligent dog and learns very quickly. These dogs get bored quite easily so continuous stimulization is a must. To curb chewing of your furniture and belongings, provide the dog with suitable chew toys, such as bones or a Kong. Lots of exercise also prevent boredom and keep the dog relaxed and happy. A tired dog is a happy dog. Crate Training is also suggested, this keeps the dog safe and content while its owner is away.</p>

<p>Staffies are a dominant breed and extra socialization is needed to prevent aggressiveness. Early contact with other dogs, cats and small animals is important. Puppies tend to get along with everybody and everything, but as the dog grows older, aggressive tendencies towards other dogs may become evident. It is also important to ensure that training is done in a positive, patient manner. You must be able to control you dog and it must be aware that you are boss. If the dog sees himself higher on the scale than you, he may become difficult and hard to train. Staffordshire Bull Terriers love to please; they excel in obedience and agility and would do quite well in fly ball.</p>
<h3>Health Problems</h3>
<p>The Staffordshire Bull Terrier is a relatively hardy and healthy breed with just a few health problems to look out for. This includes entropion, cataracts, HD, and thyroid problems. Care should be taken in extreme temperatures, as this is a short haired breed that will not fare well in extremely cold or hot environments. The parents of the Staffordshire Bull Terrier puppy should have OFA and CERF certificates. The Staffordshire Bull Terrier has a life expectancy of around 12-14 years.</p>
</div>

<div class= "container">
<h2>Bulldog</h2>

<div class= pics><%= image_tag("download.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Medium<br>Male: 12 - 16 inches; 53 - 55 lbs.<br> Female: 12 - 16 inches; 49 - 51 lbs.</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>Red, fawn, brindle, white, piebald, yellow, or any combination of colors. Black is not acceptable within breed standards.</td>
    </tr>
    <tr>
        <td>Living Area</td
        <td>Do well indoors in apartments and small places.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Low</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>8-12 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The Bulldog has something of a comical appearance, with a short, stout body and a rather glum and reproachful expression. The skin on his face falls in folds, and his legs are set wide apart. Although short and stout, he also has a sturdy build.

The coat of the Bulldog is short, sleek, and tight fitting, and the coloring can be white, red, fawn, brindle, piebald, or fallow. His ears are small and hang folded to the side of the head. The height of the Bulldog is around 14-15 inches, and these dogs weigh in at 40-60 pounds.</p>
<h3>Temperment</h3>
<p>The Bulldog is a gentle, easy going, and affectionate dog, with a wonderful nature, a comical outlook on life, and a really entertaining personality. The national symbol of Great Britain, the Bulldog is known to be extremely amiable, friendly, and loving, and loves to spend time with his family. Known to be one of the most dependable breeds around, the Bulldog makes a wonderful family pet, and is fine for the more inexperienced dog owners as well as those with experience. The Bulldog can have a stubborn streak, but is also a very docile breed with plenty of affection and devotion to give to his family.

The Bulldog is known to be excellent with children and will get along with other pets too, but be way of his jealous streak of another animal tries to take his food! His sweet nature and comical attitude makes him a big hit as a family dog. This is a breed that has inbuilt laziness, however, so don't expect your Bulldog to go romping around and playing Frisbee with you. It is important to exercise him for health reasons, but this should be along the lines of gentle strolls and walks in cooler weather. With strangers the Bulldog may be reserved, although some will be quite friendly. He is a sensitive and intelligent dog, and is ideal as a pet in a relaxed household.</p>
<h3>Training</h3>
<p>The English Bulldog requires an owner that understands how to work with a dominant breed of dog. This is critical, as owners that don't understand how to positively and appropriately teach the dog that they are not the boss will soon have a dog that simply does what he or she wants, rather than listening and obeying commands. The owner must establish that he or she is the "alpha dog" or leader in positive and gentle ways, without punishing or harshly treating the dog. A Bulldog is very sensitive to punishment, and will rarely be intentionally disobedient once they have outgrown their puppy stage. Occasionally some Bulldogs will be stubborn and difficult to train, and a puppy obedience class is highly recommended for the breed.

An English Bulldog is a very intelligent breed and is a thoughtful dog, not typically jumping into new situations or activities without giving them some consideration. Since the older the Bulldog gets the slower it tends to move, it is important to keep in mind that this dog will take a few seconds or more to respond to a command. In addition, the Bulldog likes to contemplate his or her options before jumping up to respond to a command. They are not a dog that does something on the spur of the moment; rather they seem to study the situation before deciding what action to take. A Bulldog does best with repetitive training in very short time frames, rather than one long training session. Typically, they love to please their owners, and will work very well for praise as well as treats and rewards. Limit food rewards, as the breed has a tendency for rapid weight gain.

A well-trained and well-socialized English Bulldog is an excellent companion dog. The natural protective instincts of the breed mean that they require little training to become expert watchdogs. Typically the English Bulldog has few destructive behaviors, although chewing can occasionally become a problem if they are not provided enough attention. They can be somewhat dog-aggressive with strange dogs, so ensure proper socialization at an early age. Most English Bulldogs get along well with cats and other pets, and socialization will increase these positive attributes as well.</p>
<h3>Health Problems</h3>
<p>The life span of the Bulldog is relatively short compared to some other breeds, and is around 8-10 years. There are a number of health problems that can affect this breed, and this includes heart problems, thyroid problems, ectropion, entropion, cataracts, elongated palate, a range of eye disorders, inverted tails, recessed tails, stenotic nares, and skin problems. Being short haired means that the Bulldog should not be exposed to extreme temperatures as this can be dangerous, and neither should he be over exerted as his short muzzle can mean that he develops breathing problems under these circumstances. The parents of the Bulldog puppy should have OFA and CERF certificates.</p>
</div>

<div class= "container">
<h2>Samoyed</h2>

<div class= pics><%= image_tag("Samoyed-standing-in-the-forest.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Medium<br>Male: 21 - 23.5 inches; 44 - 65 lbs.<br> Female: 19 - 21 inches; 37 - 55 lbs</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>White, white and biscuit, cream, or all biscuit.</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>Adaptable to many different environments. Can live in an apartment as long as they are exercised regularly. Also does well in a house with a yard, but they like to spend as much time as possible inside with their family. Separation anxiety can lead to barking if left alone for too long.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Heavy</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>12-15 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The Samoyed is a pretty and distinctive looking dog, and is medium to large in size with a sturdy and well proportioned build. He has a beautiful double coat, which is dense and soft underneath with a harsh outer coat. The coloring of the Samoyed's coat is white, and may have cream or beige shadings. He has a beautiful, plumed tail, and a distinctive 'smiling' mouth, which has become known as the 'Sammy smile'. The weight of the Samoyed is around 35-50 pounds for females, and around 50-65 pounds for males. The height of these dogs is around 19-21 inches for females, and 21-24 inches for males.</p>
<h3>Temperment</h3>
<p>The Samoyed is a dog that is friendly, good natured, and affectionate, making for a good family pet and companion. These dogs are playful and a little on the mischievous side, and they have plenty of spirit and enthusiasm. They are also sweet, gentle and get along with just about everyone. Although the Samoyed will bark to raise an alarm, which can make him an effective watchdog, he is too gentle and docile to be a guard dog. This breed loves to spend time with his family and owners, and likes companionship and affection, so he is not the right choice for those with little time for a pet. If you neglect your Samoyed you could quickly find destructive behavior setting in as a result of boredom. These dogs do love to chase, and therefore need to be provided with a safe and secure area to play and exercise when not on a leash.

The Samoyed is an intelligent dog and is quick to learn, which can make training less of a challenge. This breed can be very independent and strong minded, and therefore needs a confident and assertive owner - they are best suited to those with some experience of dog ownership and training. They do get along very well with children, although some can be large and a little too boisterous for smaller children. They also tend to be welcoming with strangers and get along well with most other animals. These dogs enjoy play and exercise, and fare particularly well in colder weather. If you are looking for a quiet, inactive life, the Samoyed is not the dog for you, as he does bark a lot, and does need a fair amount of exercise as well as plenty of interaction.</p>
<h3>Training</h3>
<p>The Samoyed because of their intelligent and independent nature can be somewhat difficult to train, but will respond to patient and persistent training. Voice commands are all that is really necessary. The commands should be given with enthusiasm and this will make training a little more fun. The Samoyed is eager to please and therefore will respond better to training when they are praised for following a command. Samoyeds are not easy to train because they do become bored and distracted. It is important to make it fun and energetic for them. They are known to be somewhat resistant to obedience training. When training Samoyeds it is important for the owner to establish a difference between words of appreciation and reward and words of correction.

Respect training is definitely an option for the Samoyed owner. If you can train your Samoyed from a young age to be respectful, it can make living with your Samoyed much more pleasant. This can include training in the areas of, barking, chewing, jumping up, nipping, hanging onto objects, and so many other things. This is an excellent way to establish a leader and follower role relationship with your dog. Follower dogs are said to be happier because they are secure. They can trust that you have everything under control. They are also happier because they are going to be appreciated and complimented by people in public. They can also be confident that they know what the consequences of their actions are. They are going to be happier and healthier because they are using their brains and are spending time with the family they crave attention from.</p>
<h3>Health Problems</h3>
<p>Although the Samoyed is a relatively healthy breed, there are some health issues to look out for with these dogs. This includes diabetes, cataracts, thyroid problems, HD, PRA, and allergies. Take care in hot weather and humid environments, as the Samoyed does not enjoy being in high temperatures because of his thick coat. The life expectancy of the Samoyed is around 12-15 years. The parents of the Samoyed puppy should have OFA and CERF certificates.</p>

</div>