<div class= "container">
    <h1>Small Dog Breeds</h1>
    
<h2>Pug</h2>

<div class= pics><%= image_tag("pug.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Small<br>Male: 10 - 11 inches; 14 - 18 lbs.<br> Female: 10 - 11 inches; 14 - 18 lbs.</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>Silver, apricot-fawn, or black, with black muzzle or mask, ears, cheek moles, and trace down back.</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>Originally bred as a companion dog, these little guys do very well indoors. They do not do well as an outdoor dog. Becuase of their flat muzzle, they are prone to respiratory problems and are very sensitive to heat, humidity, and extreme cold. Exercising them during this time outdoors should be done minimally and with care.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Heavy</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>12-15 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The Pug is a small, compact, and sturdy dog with a muscular build. He has an expression that seems to combine grouchiness with sweetness and bewilderment. This short muzzled dog has facial wrinkles, small folded ears, and a curled tail. The coat of the Pug is short, close fitting, and sleek, and the coloring includes silver, black, or apricot-fawn, with black markings on the face and ears. These dogs have protruding eyes, and this is something that needs to be considered if you have young children that are boisterous, as they can easily be injured. The Pug weighs in at 14-20 pounds, and is around 10-11 inches in height.</p>
<h3>Temperment</h3>
<p>The Pug is a good natured, sociable creature that likes to play and have fun, but is not an overly active dog. These dogs are more inclined to snuggle up and have a nap than to frolic around, although some can be very entertaining to be around. A loving, affectionate, yet not overly demanding dog, the Pug is well suited to those with no experience of dog ownership as well as the more experienced. The Pug is not the ideal choice for a guard dog or watchdog, as he is small, a little too sociable to be daunting, and prefers to communicate through grunting rather than barking. His table temperament and friendly nature makes the Pug a good family pet, and he is also ideal as a companion dog for the elderly or anyone that just wants a peaceful friend.</p>
<p>These dogs get along well with children and other animals, although jealousy can strike if another pet gets more attention than them. They will also get along well with strangers. They are intelligent, and training should not prove too challenging, but housebreaking can be another matter. Some can be quite stubborn and strong minded, but most are sweet and sensitive. They love their creature comforts, and enjoy the affection and attention of their owners. These charming dogs do have a tendency to look grouchy because of their wrinkly faces and short snouts, but most are anything but.</p>
<h3>Training</h3>
<p>Pugs will be eager to learn because of their desire to please you, but they are clowns and occasionally stubborn. They are famous for quickly learning commands but repeat performance later may be difficult or needing encouragement to repeat. However, many do go one to compete in obedience, conformation, and agility trials. Pugs will benefit from learning at an early age the basic obedience commands when most of the "non-performance" is due to clowning rather than stubbornness.</p>
<h3>Health Problems</h3>
<p>The life expectancy of the Pug is around 12-13 years. There are a number of health problems to look out for with this breed, including cataracts, entropion, liver problems, epilepsy, sensitivity to drugs and chemicals, PRA, Less-Perthes, and encephalitis. His eyes are prone to injury or infection because of their prominence. He is also heat sensitive because of his short muzzle and short coat, and should not be left out in the sun or in stuffy conditions. The parents of the Pug puppy should have OFA and CERF certificates.</p>
</div>

<div class= "container">
<h2>Cavalier King Charles Spaniel</h2>

<div class= pics><%= image_tag("Cavalier-King-Charles.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Small<br>Male: 12 - 13 inches; 10 - 18 lbs.<br> Female: 12 - 13 inches; 10 - 18 lbs.</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>Ruby (solid red), Blenheim (red and white), black and tan, tricolor.</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>These small dogs do very well in apartments and other small places, but are also ideal for roomier settings. The King Charles will self-exercise when kept indoors.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>10-15 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The Cavalier King Charles Spaniel is a beautiful dog with large, wallowing eyes, and a sturdy build. His coat is long, straight, and silky, and his ears are large, hanging to the side of his face and adding to his sweet and innocent appearance. The coloring of the Cavalier King Charles Spaniel can vary, and the four varieties are blenheim, ruby, black and ton, and tri color. The weight of the Cavalier King Charles Spaniel is around 12-18 pounds, and his height is around 12-13 inches.</p>
<h3>Temperment</h3>
<p>A good natured and loving animal, the Cavalier King Charles Spaniel is a dog that makes a marvelous pet and companion. This is a dog that has a cheerful outlook, is very friendly, obedient, and sociable. These dogs love to play, and have a sweet and gentle nature that makes them perfect for family pets and companions. The Cavalier King Charles Spaniel is fine for the more inexperienced dog owner as well as those with experience of dog ownership. Although the Cavalier King Charles Spaniel is an energetic and playful little dog, he also loves to snuggle up with his owners, and is a devoted and loyal creature.</p>
<p>The Cavalier King Charles Spaniel gets along well with children and has plenty of affection to shower upon them, particularly with older and more considerate children. They are fine with strangers, and tend to get on well with other dogs and cats, although they may try and chase smaller animals or birds. Some Cavalier King Charles Spaniels may be a little shy, and this is why early socialization when he is a puppy is essential. Eager to please and intelligent, training the Cavalier King Charles Spaniel shouldn't prove a problem. He doesn't like being left on his own for long periods of time.</p>
<h3>Training</h3>
<p>The Cavalier King Charles Spaniel is a very easy dog to train as it is so eager to please and to earn the owners praise and attention. Since they have been used as a companion dog throughout history they are naturally very responsive and well mannered, although like all dogs, they do need to be carefully, positively and consistently trained.</p>

<p>Like most toy breeds they can be challenging to house train since they are so tiny as puppies. Carefully monitoring the Cavalier King Charles Spaniel and taking them outdoors after eating, drinking, waking or playing will greatly help this process. They are naturally clean dogs and will also respond very well to crate training as a house training method.</p>

<p>Socialization is a key consideration in the Cavalier King Charles Spaniels development. A puppy obedience class is a great way to combine both socialization as well as basic instructions. Often smaller breeds have a tendency to both jump and bark, so it is essential to control both these behaviors right from the start and teach the Cavalier King Charles Spaniel to sit for attention as well as bark once or twice and then stop. Positive reinforcement through praise and attention as well as a simple "no" and ignoring for a few minutes is usually all that is required to help the puppy understand what is acceptable and what is not.</p>

<p>Training the Cavalier King Charles Spaniel on a lead is also important. Many people choose to use a harness instead of a traditional collar, as it is easier on the throat area of a small breed, especially if they have a tendency to pull against the collar. An obedience class can help correct this if it is a problem.</p>
<h3>Health Problems</h3>
<p>The life expectancy of the Cavalier King Charles Spaniel is around 10-15 years, and there are a number of health issues and disorders that have been linked to this breed. This includes luxating patella, cataracts, MVD, and retinal disorders. The parents of the Cavalier King Charles Spaniel should have OFA and CERF certificates, and because these dogs or so prone to heart problems should also have clear heart examination results.</p>
</div>

<div class= "container">
<h2>Beagle</h2>

<div class= pics><%= image_tag("beagle.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Small<br>Male: 14 - 16 inches; 22 - 25 lbs.<br> Female: 13 - 15 inches; 20 - 23 lbs. </td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>A range of colors including: tri-color, black/ tan orange/white, lemon/white, and red/white.</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>These dogs do well in apartments, but really enjoy being outdoors since the are quite active and energetic. Do not do well being chained up.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>12-15 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>There are two sized of Beagle, and in terms of height these vary from up to t13 inches and from 13-15 inches. The weight of a Beagle can vary from 16-30 pounds depending on his height. These dogs have short, sleek, and dense coats, and the coloring of the coat can vary and includes red and white, tan and white, lemon and white, blue shading, and the most common, which is tri-colored with black, tan and white. The ears of the breed fall to the sides of the face, and these dogs have wallowing dark eyes and an intelligent expression.</p>
<h3>Temperment</h3>
<p>Playful, good natured, and very sociable, the Beagle is a dog that is well suited to inexperienced dog owners as well as the more experienced. These are dogs that are well suited to households with children, as they get along well with kids. They also get on well and enjoy the company of other dogs in their pack. They have a tendency to chase smaller animals. The Beagle is a dog with bags of love and attention to give to his family. He is always happy to see you when you come home, and will wag his tail of and greet you with kisses. He is a dog that loves to explore and follow his nose! Sometimes his curious streak (what is that lovely smell and where is it coming from?) can lead him into trouble and even danger. Beagles love food and are always "starving hungry", or so they pretend, which makes them prone to obesity. So you must only feed him the right amount of food to fulfill his daily nutritional requirements, and no more.</p>
<p>Obedience training of a consistent nature is essential for this breed, as he can otherwise be stubborn and this can make it hard to get him to obey you. Younger Beagles love to chew, so don't leave this breed alone with your best furniture. The Beagle has a bright and cheerful disposition, and is a great companion dog. With strangers the Beagle can be vocal and territorial and their alertness and tendency to bark as a warning makes them good watchdogs. This breed loves to eat and when steal food whenever given the chance. He can also be very difficult to housebreak. The Beagle's tendency to wander off and explore means that you should ensure that he is in a very safe and secure, fenced area if he is allowed to play off the leash. He is an excellent digger and climber, and will dig under, or climb his way over, the fence if he sets his mind on it, so you must ensure that your fence is secure enough to keep him secure.</p>
<h3>Training</h3>
<p>Beagles are a smart breed of dog and can be trained very quickly. Many are trained to hunt rabbits at a very young age, and an intensive training session and progressive steps for specific goals will work well for them. Beagles are considered to be the oldest breed of gundogs in the world, but they are very well suited for rabbit and hare hunting. Many breeders focus on tracking and hunting rabbits with their Beagles, and they do have many qualities that can make them competitive and even show dogs in some stages.</p>

<p>Beagle pups can be trained as early as 6 - 8 weeks of age and will easily adapt to different forms of training. They have a very short attention span so it is important to keep these sessions to approximately 10 - 15 minutes, and not more than two or three times per day. Constant positive feedback and generous affection are usually all that are needed for the puppy to concede and follow your guidelines. These dogs can become tame and docile very easily when you teach them how to appreciate your respect and guidance. These dogs are not difficult for the average person to train, but the process does require patience and persistence with frequent training sessions.</p>

<p>Socialization is incredibly important for these energetic dogs, and they can adjust fairly quickly in social situations and with other dogs. Young puppies can be led to school on a leash and trained on a grooming table. They are likely to pick up new tricks very quickly and it is important that these dogs learn positive behaviors as soon as possible. Beagles enjoy games and activities and will respond well to reinforcement when they are alert and engaged in activities.</p>

<p>Teaching training in logical steps will help make the necessary transitions and can clear the way for consistency which is especially important for puppies. Running the dogs on a daily basis will help them to learn as much as possible for hunting and racing purposes. The dogs are competitive but fun to work with; they respond well to positive motivation and reinforcement. Consistent feedback and attention will make it easier to train the Beagle, even if it is not of a very young age.</p>
<h3>Health Problems</h3>
<p>The Beagle has a life expectancy of around 12-15 years. There are various health problems and issues linked to this breed, and some of these include thyroid problems, epilepsy, spinal problems, cataracts, glaucoma, retinal atrophy, hip dysplasia, and bleeding disorders. The parents of your Beagle puppy should have CERF and OFA certificates.</p>
</div>

<div class= "container">
<h2>Jack Russel Terrier</h2>

<div class= pics><%= image_tag("Jack-Russell-Terrier-2.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Small<br>Male: 10 - 15 inches; 14 - 18 lbs.<br> Female: 10 - 15 inches; 14 - 18 lbs.</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>Black, Tan, Brown/Tan, Black/Brown, Tan/Red, White/Tan</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>Being very active, these little dogs are only suited for apartment living if they are given a lot of daily exercise.They are also active while inside, so secure your breakables! They do not like being tied up or kenneled for a long time. Do best in a house with a fenced yard.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Very High</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>15+ Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The Jack Russell terrier is a small terrier that has its origins in fox hunting. It is principally white-bodied smooth, rough or broken-coated which is commonly confused with the Parson Russell terrier (the American Kennel Club (AKC) and affiliate variant) and the Russell terrier (a shorter legged, stockier variety) with the term "Jack Russell" commonly misapplied to other small white terriers. The Jack Russell terrier is a broad type, with a size range of 10–15 inches, the Parson Russell is limited only to a middle range with a standard size of 12–14 inches, while the Russell terrier is smaller at 8–12 inches , however each breed has different physical proportions according to the standards of their breed clubs.</p>
<p>The head should be of moderate width at the ears, narrowing to the eyes, and slightly flat between the ears. There should be a defined but not over pronounced stop at the end of the muzzle where it meets the head, and a black nose. The jaw should be powerful and well boned with a scissor bite and straight teeth. The eyes are almond shaped and dark colored, and should be full of life and intelligence. Small V-shaped ears of moderate thickness are carried forward on the head. When the dog is alert, the tip of the V should not extend past the outer corner of the eyes. The tail is set high and in the past was docked to approximately five inches in order to provide a sufficient hand-hold for gripping the terrier.</p>
<p>The Jack Russell should always appear balanced and alert. As it is primarily a working terrier, its most important physical characteristic is its chest size, which must not be so large that it prevents the dog from entering and working in burrows.</p>
<h3>Temperment</h3>
<p>Jack Russell Terriers are vocal, alert, lively and bold. They are very affectionate and playful with family, and love attention. They require training or a job, as they need adequate exercise. They are very energetic and can be very excitable. Jack Russell Terriers can be scrappy with other dogs, but can be socialized and trained to be okay with other pets. They are friendly, courageous and do not like backing down from a fight. They are intelligent and stubborn. If trained well, this breed can harness all of its energy into training and become very obedient and worthwhile, but otherwise they are difficult to train, with the typical terrier stubbornness.</p>
<h3>Training</h3>
<p>The Jack Russell Terrier can be difficult, determined, and willful. They require firm and consistent guidance, as they are easily distracted. It is important for them to know whom their master is or they will take charge. Early socialization may moderately temper their aggressiveness. Obedience training is highly recommended. The Jack Russell displays talents in such areas as hunting, tracking, and agility.</p>
<h3>Health Problems</h3>
<p>Some health problems seen occasionally in Jack Russell Terriers dislocation of the kneecaps, inherited eye diseases, deafness, and Legg Perthes (disease of the hip joints of small breeds of dogs).</p>
</div>

<div class= "container">
<h2>West Highland White Terrier</h2>

<div class= pics><%= image_tag("westie_header_1.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Small<br>Male: abt. 11 inches; 15 - 24 lbs.<br> Female: abt. 10 inches; 15 - 24 lbs.</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>White</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>Can live on a farm, a suburban house, or a city apartment. Do great with a family, or a single, elderly person. Loves human companionship, walks, and playing.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Light</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>High</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>12-14 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The West Highland White Terrier is a sweet, elegant looking dog, and is small, sturdy, and hardy. He has a very appealing expression, with his dark eyes and black button nose. The coat of the West Highland White Terrier is soft and dense underneath, with a wiry outer coat. The coloring of these dogs is solid white, hence the name.</p>
<h3>Temperment</h3>
<p>An adaptable, intelligent, and confident little dog, the West Highland White Terrier has become an enormously popular family pet over the years. These spirited creatures thrive on the affection, interaction, and companionship of their owners, and have bags of energy to burn up. This is not the right choice of pet for those with little time or inclination to be active, as they do need a fair amount of exercise, preferably interactive play and activity. The West Highland White Terrier is courageous, inquisitive, and loves to chase, which means that he must be supervised in a safe and secure area when he is not on a leash. These dogs can be a little arrogant, stubborn, and demanding, and are best suited to those with some experience of dog ownership and training. They are very intelligent, eager to please, and quick to learn, which makes training less of a challenge. They also have excellent problem solving skills.</p>

<p>The West Highland White Terrier will bark to raise an alarm, which makes him an effective watchdog. They love to dig, and many are a little too fond of the sound of their own bark, so be prepared for anything but a quiet life. The West Highland White Terrier can have a possessive streak when it comes to his food and belongings. He tends to try to dominant same sex dogs. He does not get along well with cats at all. Because of his high prey instinct, he will avidly chase and probably catch smaller running creatures and should not be trusted around them. The Westie tends to get along with visitors, and is fine around older, gentle children. Younger kids may be too boisterous and rough for his liking.</p>
<h3>Training</h3>
<p>Intelligent as the West Highland White Terrier is, it is important to understand the whole concept of the Westie personality and essence of who they are. One article says it all, "The Westie is really a big dog inside a small dog's body." The dog has the personality that is spunky, intelligent, bold, independent, lots of self-esteem--and stubborn. These varied qualities of the little Westie terrier breed in mind, will help prepare a person for the beginning "fun of training a Westie."</p>

<p>If a Westie is given too much at once, the breed will quickly develop the ability to acquire the upper hand, becoming bossy and aggressive to the point of becoming aggressive and snapping or biting. The assertive nature of the Westie, notwithstanding its intelligence, needs to be properly understood to avoid any behavior issues that could develop. But before any training begins, the thing to know before starting is whether it suffers any negative setbacks such as lack of companionship, lack of discipline, activity, or exercise. If none of these are available, then the Westie can become very destructive if left alone.</p>

<p>Some commands are more important than others-at least to begin with. The West Highland should know the five basic commands plus some-come, heel, sit, down, and stay. Combining them to form a sit-stay and down-stay is also very beneficial for a dog such as the Westie with an overwhelming attraction to people combined with high energy. Stay firm yet positive, always ending every training session with a command the dog does know, even after spending an hour or so learning new ones.</p>
<h3>Health Problems</h3>
<p>There are a number of health problems to look out for with this breed. This includes Legg-Perthes, cataracts, CMO, vWD, seizures, allergies, and luxating patella. The parents of the West Highland White Terrier puppy should have OFA and CERF certificates. They should also be screened for GDC and luxating patella.</p>
</div>


<div class= "container">
<h2>Daschund</h2>

<div class= pics><%= image_tag("dachshund.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Small<br>Miniature: 5 - 6 inches; 11 lbs. or under<br> Standard: 8 - 9 inches; Over 11 lbs. (usually 16 - 32 lbs.)</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>Solid red, sable, or cream; black & tan, chocolate & tan, wild boar & tan, gray & tan, or fawn & tan; single dapple (lighter color set on darker background, as in a merle); double dapple (white in addition to dapple); brindle.</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>Do best as an indoor dog with access to a yard. They do well in apartments as long as they can get out and play; after all, they are a hunter at heart!</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Moderate-High</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>12-14 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The Dachshund is also known as a 'sausage dog' and has a very low body that is close to the ground, and is elongated. The Dachshund has a muscular and sturdy build, and his expression is a sweet and eager one. There are three varieties of Dachshund, and this includes the longhaired, the smooth haired, and the wirehaired variety. The miniature Dachshund weighs in at 7 to 11 pounds, and standard Dachshunds are around 20-28 pounds. The height of the Dachshund is 5 inches for miniatures and around 8-10 inches for standards. The coat of the Dachshund will vary depending on the variety of dog that you have - the smooth haired has a dense, short, and smooth coat; the long haired has a soft, longer, and possibly slightly wavy coat; and the wire haired has a harsh, short, and wiry coat. The coloring of the Dachshund can vary and includes black and tan, blue, chocolate, red, red sable, cream, and brindle.</p>
<h3>Temperment</h3>
<p>A lively and sweet natured creature, the Dachshund is a dog that makes a loyal and devoted pet for the right owner. These dogs are well suited to both inexperienced and experienced dog owners, as they are adaptable, intelligent, and sociable. The Dachshund is not the right choice for those with little time to dedicate to a pet, as they do need love, attention, and companionship. Training should not prove too much of a challenge, as the Dachshund is quick to learn, eager to please, and responsive. However, he can have a very possessive streak when it comes to his belongings and food. The Dachshund has a great sense of humor, and can be a very entertaining and cheerful pet to have around. The sharp bark of these dogs makes them effective watchdogs.

He tends to get along well with older, gentler kids. The Dachshund loves to be around other Dachsies, and with early socialization should get along fine with other pets. When it comes to strangers the reaction of the Dachshund can vary depending on his personality - some will be fine with strangers and others may be aloof. It is worth noting that there are three varieties of Dachshund - the long haired, the wire haired, and the smooth coated. The longhaired Dachshund appears to have a gentler and more amiable nature than the other two varieties and are less aloof with strangers. If you are particularly proud of your garden you may want to think twice before considering a Dachshund, as these dogs do love to dig. The Dachshund is a sensitive breed, and does not like to be teased or handled roughly. Care should be taken around younger or boisterous children, as the Dachshund can injure his back through to much rough play and jumping around.</p>
<h3>Training</h3>
<p>The Dachshund requires firm and consistent training, but once trained, they are a great companion dog and extremely loyal. From an early age, they must understand that you are the "alpha dog", as they can be quite stubborn and resist training.

Dachshunds require socialization at an early age, to prevent them from being wary of human strangers and fearful. They should also be taught early on about inappropriate barking and taught not to jump, since this can be dangerous for their spines.

Crate training works well for housebreaking the Dachshund. Because this breed can be stubborn, and because their accidents are easy to miss due to their size, it's important to be very persistent in house breaking them. If they have an accident that goes unnoticed, they will believe that going to the bathroom in the house is acceptable, and the habit will be nearly impossible to break. Keeping your puppy in his crate unless you are actively interacting with him will help ensure that there are no accidents. Puppies should not be allowed to roam the house unsupervised until they are consistently house trained.

It's wise to leave your Dachshund in his crate when you leave the house even after he's house trained, since they are prone to destruction when bored. After a period of time, you will know your dog well and will know whether or not it's safe to allow him to roam the house when you're away.</p>
<h3>Health Problems</h3>
<p>The life expectancy of the Dachshund is around 12-15 years, and there are a number of health problems linked to this breed. This includes cataracts, diabetes, epilepsy, spinal problems, luxating patella, PRA, elbow dysplasia, and obesity. The parents of the Dachshund puppy should have OFA and CERF certificates.</p>
</div>

<div class= "container">
<h2>Cocker Spaniel</h2>

<div class= pics><%= image_tag("Cocker-Spaniel.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Small<br>Male: 14.5 - 15.5 inches; 15 - 30 lbs.<br> Female: 13.5 - 14.5 inches; 15 - 30 lbs.</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>Solid jet black, tan points allowed as is a small amount of white on the chest or throat.<br>
ASCOB (Any Solid Color Other than Black) - ranges from light cream to dark red, including brown with tan points. Color should be uniform, small amount of white on chest or neck allowed.<br>
Parti-Color - two or more solid, well broken colors or which one is white.<br>
Tan points - tan points can vary in their shade of tan, but must be less than 10% of the total color on the dog</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>Very adaptable dog, doing well in the country or an apartment. If you have a yard, it is important that it is fenced because a cocker spaniel will roam.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>12-15 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The Cocker Spaniel is a pretty, dignified, and elegant looking dog, with a silky, medium length coat and a shorter, undercoat. The coloring can be black, buff, or chocolate, and may have tan trims. The ears of the Cocker Spaniel are long, silky, and hang to the side, adding to its sweet and innocent expression. These dogs are about 13-16 inches in height, and the weight of the Cocker Spaniel is around 22-28 pounds. His body is small but sturdy, and he is a medium shedder, which means that he is not ideal for those with allergies.</p>

<h3>Temperment</h3>
<p>A charming and gentle mannered creature, the Cocker Spaniel is a dog that enjoys playing but also has a clam and dignified manner about him. This is a dog that gets along well with children, especially when raised with them, and get on well with other animals and with strangers. The Cocker Spaniel is a sociable and amiable dog with a cheerful outlook on life and a responsive attitude. He is highly intelligent making him a stand-out at obedience training. The Cocker Spaniel is a dog that will usually be pretty easy to train, and will be fine for the more inexperienced dog owner as well as more experienced owners.</p>
<p>The Cocker Spaniel is a willing, enthusiastic, and keen dog, and is eager to please, active, and very friendly. Owners may find that these dogs are difficult to housebreak, and often barking can be a problem. These dogs are affectionate, which is great news for those looking for a devoted pet, but the Cocker Spaniel can sometimes get a little over dedicated and clingy, which makes him something of a demanding pet, and certainly not ideal for those that cannot dedicate the time to look after a pet and pay it plenty of attention.</p>
<h3>Training</h3>
<p>Training the Cocker Spaniel should begin at the earliest possible age, especially in regards to socialization. A very friendly and affectionate breed, the Cocker Spaniel can become shy or nervous around new people if it doesn't become accustom to new people and places. Typically a Cocker Spaniel will have no trouble interacting with new dogs or other pets such as cats or rabbits or even livestock. They have little prey instinct although, like any dog, are more than willing to chase other animals just for the fun of it.</p>

<p>The Cocker Spaniel is a very willing learner and truly wants to please the owner. Unlike some of the hunting breeds they do not have a strong streak of independence and are generally very compliant. House training may be a problem for this breed and crate training is recommended to help with the process. They are very sensitive to the tone of voice used by the owner so it is very important never to raise your voice or use overly harsh tones when correcting the Cocker Spaniel. Crate training helps alleviate the need to try to correct the dog, as most experts agree that punishment is the least effective house training method for any breed.</p>

<p>The Cocker Spaniel does best when trained basic commands with lots of rehearsal and practice. They do need time to learn the basics and do best when not overwhelmed with a lot of different commands all at the same time. Start with come and sit, move on to lie down and stay, then on to the more advanced levels of commands. Barking may be a problem so start early in encouraging the Cocker Spaniel to bark once or twice and then stop, don't let them get into the habit of lots of barking.</p>

<p>Lead and collar training is important for this breed at an early age. They are generally very easy to train to heel, and a puppy obedience class can assist with all training requirements plus with socialization.</p>
<h3>Health Problems</h3>
<p>The life expectancy of the Cocker Spaniel is around 10-14 years, and there are a number of health problems that are linked to this breed. This includes PRS. HD, cataracts, autoimmune problems, skin conditions, and epilepsy. You should ensure that the parents of the Cocker Spaniel have OFA and CERF certificates.</p>

</div>