<div class= "container">
<h1>Toy Dog Breeds</h1>

<h2 class="t1">Yorkshire Terrier</h2>

<div class= pics><%= image_tag("yorkshireterrier.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Toy<br>Male: 8 - 9 inches; 7 lbs. tops<br> Female: 7 - 8 inches; 7 lbs</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td><p>Blue and tan. They are born black and gradually grown into their blue and tan color.</p></td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>Just because of their size, Yorkies need to be indoor dogs. Do well with young families or the elderly. Great in apartments, but also enjoy going out.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Low to none</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>High</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>14-16 Years</td>
    </tr>
</table>


<h3>Description:</h3>
<p>The Yorkshire Terrier is a tiny, fragile looking, and very sweet little dog. He has an eager expression, and 
small, dainty face, and small, pricked up ears. The coat of the Yorkshire Terrier is fine, glossy, and silky
to the touch. The coat is long, and perfectly parted in the middle from the face to the tail, draping down each
side of the dog's body. The coloring of the Yorkshire Terrier is rich tan and steel blue. These dogs weigh in
at around 5-7 pounds, and the height is around 7-8 inches.</p>
<br>
<h3>Temperment</h3>
<p>Such is the popularity of the little Yorkshire Terrier that he has the honor of being at the number two position
on the AKC breed popularity list. One of the world's smallest dogs, the Yorkshire Terrier is a cheerful, sociable,
and adaptable little creature. Affection and loyal, yet courageous and confident, this is a dog that is suited to
both experienced and inexperienced owners. These dogs make great companions and loving pets, with their love for
being pampered or cuddling up with their owner. Yet, in true terrier style they have plenty of spirit, are agile,
and have a very inquisitive nature. Training the Yorkshire Terrier shouldn't prove too much of a problem, as he is
very intelligent and quick to learn. Housebreaking, on the other hand, can be quite a different matter. The Yorkshire
Terrier can be very possessive of his food and belongings, and some have a tendency to bark too much. These little
dogs will certainly bark to raise an alarm, making them effective watchdogs.</p>

<p>Early socialization is recommended with the Yorkshire Terrier to promote stability and confidence. Although
he is not overly demanding in terms of exercise, he does have plenty of energy and will appreciate a place to frolic
and play. However, this must be a secured and safe place, as he is inquisitive, agile, and an avid chaser, all of 
which could spell trouble should he escape. He can also be easily injured or bullied by larger dogs, so he should
not be allowed off his leash when out and about. Despite his size, the Yorkshire Terrier will often try to dominate
other dogs. They do tend to get along fine with other pets. When it comes to children they are best suited around
older, gentle kids. These are very small dogs that can get easily injured and scared by rough, boisterous children.
The Yorkshire Terrier is a versatile creature that is just as happy dashing around the garden and playing as he is
cuddling up and getting thoroughly pampered.</p>

<h3>Training</h3>
<p>Yorkshire Terriers are very intelligent, but they can also be a little stubborn. Keeping the training happy and fun
it a great way to get through to the Yorkies. They may tend to get bored and it is important to make it a fun, positive 
experience for them. One way to teaching your Yorkie new tricks is by holding a small treat in your hand. Treats and 
lots of praise tend to work well with Yorkies. It also helps to have a good sense of humor because they will try to 
"outsmart" you. If starting with a puppy, Puppy Kindergarten is a great way to go. Not only does this help them to learn
new things but also owners might learn the best ways to deal with their dog's individual personalities. Also another
positive of Puppy Kindergarten is the social aspect. This teaches your new puppy at a very young age how to socialize
with other dogs. This will help them in the future to be less aggressive towards new dogs or environments.</p>

<p>Because these dogs love to run and play it is important to keep them on a leash or within a closed off area where they
cannot escape. Because of the popularity of this breed the chances of having them returned if lost is decreased. It is 
also a great idea to have them micro chipped for extra safety.</p>

<h3>Health Problems</h3>
<p>There are a number of health problems to look out for with this breed. This includes luxating patella, liver problems,
inflamed pancreas, low blood sugar, allergies, dental problems, and sensitivity to chemicals and drugs. He does not
fare well in cold weather and should be provided with a jumper if out and about in the rain or cold. He must also be 
protected from rough handling and heavy object because of his size and fragility. The parents of the Yorkshire Terrier 
puppy should have OFA certificates.</p>

</div>

<div class= "container">
<h2 class="t2">Shi Tzu</h2>

<div class= pics><%= image_tag("shih-tzu.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Toy<br>Male: up to 11 inches; 9 - 16 lbs.<br> Female: up to 11 inches; 9 - 16 lbs.</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>Any</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>Ideal dog for both city and country living. In the city these dogs become easily accustomed to the noises and apartment style living. They are also at home romping in the country. Due to their size and need for companionship they should be kept as an inside dog.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Light</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>12-16 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The Shih Tzu is a small, elegant, and pretty little dog, but is nevertheless quite sturdy in build. He has a beautiful,
flowing coat, with a dense undercoat. The Shih Tzu has inviting, wallowing eyes, and a very sweet expression. The coloring
of the coat can vary, and he comes in a myriad of colors, including parti-colors and solid colors. The height of the
Shih Tzu is around 8-11 inches, and he weighs in at around 9-16 pounds.</p>

<h3>Temperment</h3>
<p>A lively, proud, and confident breed, the Shih Tzu is a dog that loves to play and perform tricks, but is also very
loving and gentle. Some may appear to be a little on the arrogant side, but these are actually sweet natured little dogs 
who love to cuddle and enjoy their creature comforts. With property, early socialization the Shih Tzu boasts a stable,
friendly personality and disposition, and is a peaceful creature. The Shih Tzu thrives on affection and attention, and
is not the right breed for those with little time to devote to a pet. He is an excellent choice for those that cannot
get around much, such as the elderly, and is intelligent and responsive, which makes him less of a challenge to train.
The Shih Tzu is suited to both experienced and inexperienced dog owners, and makes a great family pet as well as a very
loving companion. The popularity of these dogs has soared over the years, reflected by the Shih Tzu's top ten position 
in the AKC popularity listings.</p>

<p>Although the Shih Tzu gets along well with children, he is a small dog that cannot really handle tough handling. He
is therefore best suited to families with gentle, older children. He gets along well with strangers, as well as with 
other animals. Housebreaking the Shih Tzu can prove problematic in some cases, and some can be a little stubborn and
haughty at times. However, by and large, the Shih Tzu makes a wonderful addition to the household, and is living, gentle,
peaceful, trusting, and entertaining. His exercise demands are low, and he will fare well with a safe and secure place
to play and run around in. This is a dog that will love to spend cosy nights in snuggled up with his owner and receiving
plenty of pampering. Although friendly, the Shih Tzu will generally bark to raise an alarm so can make an effective watchdog.</p>

<h3>Training</h3>
<p>Like housebreaking, training should begin as soon as your Shih Tzu enters the new house. The training sessions should
be short but frequent, for example, ten to fifteen minute periods three times a day. This breed can have a short attention
span, which makes quick lessons a more enjoyable experience. They are a highly intelligent dog and can be stubborn at times.
With patience and a fun atmosphere these dogs are easy to obedience-train. They respond well to praise and treats for
rewards on doing a good job.</p>

<h3>Health Problems</h3>
<p>There are a number of health issues to look out for with this breed. This includes vWD, anemia, luxating patella, kidney
problems, thyroid problems, allergies, and eye problems. His eyes are large and can be more susceptible to injury and infection.
The Shih Tzu can also suffer heatstroke in hot or humid conditions. The parents of the Shih Tzu puppy should have OFA and CERF
certificates, and you should also ask about kidney function screening.</p>
</div>

<div class= "container">
<h2 class="t3">Chihuahua</h2>

<div class= pics><%= image_tag("dog.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Toy<br>Male:  6 - 9 inches; not to exceed 6 lbs.<br> Female: 6 - 9 inches; not to exceed 6 lbs.</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>Any</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>These dogs need to be indoors, they do not do well outside. Because they are so small, they should not be left alone while outside because they may become prey to larger animals or birds.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>High</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>14-18 Years</td>
    </tr>
</table>


<h3>Description</h3>
<p>The Chihuahua is a dainty, fragile looking dog, and is a very distinctive looking animal with a pretty face, and a somewhat
mischievous expression. The Chihuahua has a rounded head and dark, wallowing, and protruding eyes, with ears that are very large 
in proportion to the rest of the head. When it comes to the coat of the Chihuahua there are two varieties available, one being
the long coated variety and the other the smooth variety. The long coated Chihuahua has a soft, long coat, and this can be single
or double. The smooth coated variety is soft, short, and dense. The coloring of the Chihuahua can vary and includes red, cream,
chocolate, blue/gray, white, fawn, and black. He may also have white or tan trimmings. The weight of the Chihuahua is around 2-6
pounds, and the height is around 5-8 inches.</p>
<h3>Temperment</h3>
<p>The smallest of the dog breeds, the Chihuahua is a dog that is lively, affectionate, loving, and entertaining. This is a dog 
that loves to both give and receive attention, he will follow you everywhere around the house and loves nothing more to cuddle up
on your lap while you're watching TV. Intelligent and eager to please, the Chihuahua is very responsive and playful. However, it
is important to remember that the personality of Chihuahuas can vary, and whereas some may be very confident and friendly others
may be reserved and stand offish. The Chihuahua usually gets very attached to his family and he can have a jealous streak if he
feels he isn't the center of attention and another pet or person is getting more attention than him. The Chihuahua gets along
well with older, gentle children and will tolerate other pets when properly socialized with them.</p>

<p>Early and continued socialization is important in order to ensure that your Chihuahua has a stable and even temperament, and
the genetic temperament of the parents of your Chihuahua will often determine how he is likely to turn out. Many Chihuahuas do
have very outgoing personalities, and are very inquisitive and surprisingly bold for their size. Sociability with strangers will
again depend upon the personality of the individual dog, but many are reserved and wary around strangers. The Chihuahua does bark
to raise the alarm is something is amiss, and this makes him quite an effective watchdog. He has a high learning rate but a stubborn
attitude at times, which makes him best suited to those with some experience of dog ownership. Housebreaking this breed can also
be difficult.</p>

<h3>Training</h3>
<p>Though trained fairly easily, one difficulty with this breed is housebreaking. Because of their size, some owners will try ('try'
being the operative word) training them to go on a "pee pad" or in a litter box. Paper training is never really 100%, though in some
dogs it can, but rarely. In reality, your dog would forgo going on grass or other surfaces, making trips a hassle as you will need a
travel pad. If you plan on staying in a hotel, or being a guest in someone's home, most people would not be very welcoming to you
bringing a litter box with you. Not only do most dogs miss the pad entirely, but they will then go on any paper or pad left on the
floor to do their business. Proper house training should be done outside. It tends to be because of their size that most people decided
to paper-train them. If one does want to only use a litter box or pad, constant praise is a MUST, each and every time they go on the pad;
a pad inside of a litter box works best as its easier to clean up.</p

<p>Early socialization with this breed is very important. They should be exposed to different places, people, animals and other dogs,
starting at an early age. Socialization with other dogs is a major requirement as most Chihuahuas can be dog-aggressive.</p>

<h3>Health Problems</h3>
<p>The life span of the Chihuahua is around 15-18 years, making him one of the longer life breeds. There are some health problems and
disorders associated with this breed and these include luxating patella, entropion, heart problems, trachea problems, low blood sugar,
dental problems, sensitivity to chemicals and medications, and open fontanel. These small dogs have very fragile bones, and owners should
take care to ensure that he is not treated roughly or dropped, as this could lead to injury - this is why the breed is best suited to
gentler children. The protruding eyes of these dogs also need to be taken into consideration, as they could be easily damaged. Take care
not to inadvertently harm the dog's eyes through rough treatment or kicking, and keep an eye out for any infections. The parents of the
Chihuahua puppy should have OFA and CERF certificates.</p>
</div>

<div class= "container">
<h2 class="t4">Pomeranian</h2>

<div class= pics><%= image_tag("pomeranian.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Toy<br>Male: 7 - 11 inches; 3 - 7 lbs.<br> Female: 7 - 11 inches; 3 - 7 lbs.</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>All colors and patterns allowed</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>Very well suited to indoor and apartment living. Though they are fairly active and need regular exercise, because of their size they can usually get enough running around the house or playing inside.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Moderate-High</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>12-16 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The Pomeranian is a very cute, pretty, and dainty creature with a fragile build. He always has a bright, inquisitive expression, and 
looks alert and eager pretty much all of the time. He has a long, straight coat that is harsh in texture, and a dense, fluffy undercoat.
The coloring of the coat can vary, and some of the colors include parti-color, cream and sable, cream, blue, red, orange, sable, and 
brindle. The height of the Pomeranian is around 7 inches, and he weighs in at 3-7 pounds.</p>

<h3>Temperment</h3>
<p>The Pomeranian is a small dog with an outgoing personality and plenty of character. These dogs are alert, energetic, and have lots of 
spirit. The Pomeranian is an intelligent dog and a quick learner, which makes training easy. The Pomeranian is a loving and affectionate
breed, who thrives on the companionship and affections of his owners. He is well suited to those with little or no experience of dog ownership,
as well as the more experienced. It is important to be confident and assertive with these dogs, as some can be bossy and a little big headed.
However, they are also very amiable and friendly, making them ideal family pets. The Pomeranian will bark to raise the alarm if anything is
amiss, and this makes him effective as a watchdog. He is a little on the small size to really have any impact as a guard dog, although his size
may not deter him from giving chase to larger animals if necessary.</p>

<p>Bright and inquisitive, the Pomeranian enjoys playing with other animals. Their inquisitive streak means that they should have a safe, 
fenced area in which to play so that they do not escape. The Pomeranian's reaction to strangers can vary depending on the personality of the 
dog, and whereas some will be friendly and welcoming others may be standoffish. When it comes to children these dogs should not be considered for
a home with younger, boisterous kids. He is a fragile and dainty creature, and should be around only gentle, older children for his own safety.
Entertaining, plucky, and fun to be around, the Pomeranian can make a great pet for families with older children, as well as a great companion
dog for those looking for a loving and very cute friend. These are dogs that enjoy being pampered as much as they love to play.</p>

<h3>Training</h3>
<p>The Pomeranian can be quite a willful and dominant dog, so training must begin early and must be consistent. It's very important that your
Pomeranian knows that you're the boss. If this fact is not established early on, this breed can become very demanding and possessive of their
owners and will refuse to listen to even the simplest commands. It is also important that these dogs are socialized early on to prevent them
from being overly suspicious of strangers. Spend plenty of time working on appropriate and inappropriate barking, as Pomeranians are known to be
excessive barkers when not properly.</p>

<p>It is imperative that your Pomeranian be taught not to be underfoot. Because of their small size, a Pomeranian can be seriously injured if
he is stepped or sat on. They love to sleep under blankets and pillows, where they can be difficult to detect and easy to sit on. In addition, 
a Pomeranian can seriously injure himself or even kill himself if he jumps out of your arms or off the back of a high couch.
Pomeranians are notoriously hard to housebreak. Because they are so small, they can sneak off to any little corner and go to the bathroom without
you ever knowing it. And, of course, once they've gone in the house, the pattern is established. This is one breed for which crate training is 
absolutely necessary. They should not be allowed to roam the house unsupervised for many months, until their bodies are mature enough to hold their
urine and they are well trained enough to understand the appropriate places to go.</p>

<p>However, these dogs are very intelligent, and with the proper training, can be taught to do nearly anything they need to do. They love to do tricks
and can be quite proficient at them. Pomeranians are very curious and inquisitive. This makes them somewhat easy to train, but does mean that you'll
need to train them in a place where they can be focused, with few distractions.</p>

<p>Once properly trained, Pomeranians are suitable for many types of tasks. Because their energy level is high, they can be very hard workers. In the
past, Pomeranians have been used for search and rescue dogs, particularly in post earthquake searches, where small dogs are needed to locate survivors.
In addition, they are often used as the therapy dogs for the elderly and ill. Finally, they can be trained to be used as companion dogs for the hearing impaired.</p>

<h3>Health Problems</h3>
<p>There are a number of health problems that are associated with this breed, and this includes: cataracts, PRA, low blood sugar, entropion, luxating
patella, PDA, collapsing trachea, and allergies. The parents of the Pomeranian puppy should have OFA and CERF certificates. The life expectancy of these
dogs is around 12-16 years.</p>
</div>

<div class= "container">
<h2 class="t5">Maltese</h2>

<div class= pics><%= image_tag("maltese.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Toy<br>Male: 9 - 10 inches; 4 - 6 lbs, but under 7 lbs.<br> Female: 9 - 10 inches; 4 - 6 lbs, but under 7 lbs.</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>White</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>These little dogs are inside dogs, so they are great for apartment living. They are very fragile, so not best in homew with small children</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Light</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Moderate-High</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>12-14 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The Maltese is a small, very elegant and dainty looking dog, with a sweet expression and a dignified stance. The coat of the Maltese is long and straight, with
a beautiful silky texture. The coloring of the coat is white, and the Maltese may have some light lemon coloring on the ears. These small dogs are only around
4-6 pounds in weight, and around 8 inches in height.</p>

<h3>Temperment</h3>
<p>The Maltese is a popular toy dog, ranking fairly high on the AKC popularity list. Mild mannered, affectionate, and loving, the Maltese makes a fine
companion dog and a good family pet. Thee dogs are well suited to inexperienced dog owners as well as to the more experienced, and their intelligence,
alertness, and high learning rate helps to make training easier - although they can be very difficult to housebreak. The Maltese has plenty of energy and
spirit, and loves to play. He has an inquisitive and curious nature, and for a small dog can be quite confident when well socialized. These dogs tend to
fare well in obedience training, and enjoy a variety of mental stimulation to keep them alert.</p>

<p>The Maltese is a dog that thrives on the love, affection, and companionship of his family, and is not the breed for those with little time to dedicate
to a pet. He makes an effective watchdog, as he will bark to raise an alarm or to announce visitors. The Maltese gets along well with children but does
not like to be handled roughly, so gentler, older children are best suited to this breed. They will usually be police and friendly around strangers, but
many will not get along with other pets, and may stand up to much larger dogs. This breed will be fine with apartment living, but needs regular leashed
walks or a safe, securely fenced area to exercise and play.</p>
<h3>Training</h3>

<p>Due to being highly intelligent, the Maltese are very easy to train. In that regard, it is due to being spoiled that most problems arise. They breed
itself is known to be hard to housebreak. Because of their size, some owners will use "pee pads", in which the dog learns that it is alright to go to the
bathroom inside the house. Even if you are successful with training them to go on a pad, the dog will be accustomed to using paper, and may then intend to
go to the bathroom on any paper, or paper-like objects left on the floor. Using a crate is one of the best methods to housebreaking, as well as constant
supervision. Use a leash or rope to tether them to yourself; this will keep them from wandering off and relieving themselves. When 100% attention can not
be paid to them, they should be put into their crate. Upon waking, before and after playing and eating, and before settling in for the night, they should 
be let outside to go to the bathroom. By using special treats only used for when they go outside, and lots of praising will soon get the dog onto the right
path of being housetrained.</p>

<p>More so than other breeds, the Maltese need a large amount of companionship with their people and do not like being left alone for long periods of time.
They can become destructive by chewing and ripping apart your house, as well as constantly barking in their frustration. By giving them a bone, or a toy
aimed for mental stimulation, will keep them occupied and less destructive, but it is not a cure. If you are not home for long periods of time, or can't
take a break in your schedule for one on one time, then this is not a breed for you.</p>

<p>Standoffish by nature, they need to be provided with enough socialization and exposure to different people, places, and animals at a young age. They are
naturally cautious, which if not socialized properly can cause them to become shy and fear aggressive. It is important to make socialization fun for the 
dog, using treats or other rewards for reacting nice towards strangers, is the best way to encourage your dogs' good behavior. With a tendency to bark, 
they should be taught that excessive barking is uncalled for.</p>

<h3>Health Problems</h3>
<p>The life expectancy of the Maltese is around 12-15 years, and there are a number of health problems associated with this breed. Some of these include
glaucoma, deafness, thyroid problems, low blood sugar, sensitivity to chemicals and drugs, dental problems, luxating patella, PRA, and entropion. The parents
of the Maltese puppy should have OFA and CERF certificates.</p>
</div>

<div class= "container">
<h2  class="t6">Bichon Friese</h2>

<div class= pics><%= image_tag("bichon_frise.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Toy<br>Male: 9 - 12 inches; 7-12 lbs.<br> Female: 9 - 11 inches; 7 - 12 lbs.</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>White, though bloodlines are cream or have patches of cream in the hair.</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>Indoors, love being with people.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Light</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>12-15 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The Bichon Frise is a small, sturdy little dog with long hair that curls loosely. The coat of the Bichon Frise is white, and can have markings of cream, apricot, or buff. Some of the show dogs are said to resemble powder puffs. The Bichon Frise has an alert and keen expression, and beautiful drooping white ears.</p>
<p>The weight of the Bichon Frise is around 12-18 pounds, and the height is around 9-12 inches. His black nose and dark eyes stand out in stark contrast to his gleaming white coat, giving him a striking and attractive appearance.</p>
<h3>Temperment</h3>
<p>The Bichon Frise is a breed that is sweet tempered, merry, and eager, always wanting to please his owners and family. These dogs are very entertaining and make for great companions, and have a very gentle nature and are sensitive and affectionate. This is a little dog that loves to play, and is very sociable with plenty of personality and a fun loving disposition. The Bichon Frise is a dog that loves to spend time with his family and loves interaction with humans and other animals. They do need plenty of attention and devotion, and love to perform tricks and show off. They are very adaptable, and will be happy in various living environments. However, although they do love to play and frolic outside as well as go for walks, this is not a dog for someone that likes to spend too much time outdoors.</p>
<p>The Bichon Frise is fine for novice dog owners as well as more experienced ones, and will fare well around considerate children. He will also get on well with other pets and is amiable around strangers. These dogs are not bossy or dominant, but they can be very independent. Housebreaking the Bichon Frise can be a difficult task, and some can be quite noise with their high pitched barks. All in all, the Bichon Frise is a wonderful little dog with a cheerful outlook, bags of enthusiasm, a sociable personality, and is perfect as a family pet or companion dog.</p>
<h3>Training</h3>
<p>The Bichon Frise is an easy dog to train, as it is quick and intelligent. A naturally obedient breed, they have a history of being easily trained as a star performer, doing tricks, therapy work, and agility shows. This breed requires gentle and firm training, as they are so gentle and sensitive that any harsh training or negative corrections will have an opposite effect on the puppy or adult dog. But all trainers/owners will eventually need a collar and leash to begin the training-the many types available will depend on the person doing the training, as each one is a matter of personal preference and what the dog needs.

<p>Some of the training collar tools that are acceptable for the Bichon training, as chain or nylon chokers will matt and tangle in their hair, are the buckle collars, leather-training collars, or even the reversed pinch collars. Each one will do well for training a Bichon Frise. The head collar is becoming very popular as a training tool for most dogs in training classes. It looks like a horse halter, going around the dog's face with a leash attachment under the muzzle. At first, the dog will fight the halter type collar, but once it gets used it-those who have used it say it works wonders and they have more control over the dog.
</p>
<p>Training the Bichon works well with food treats along with the leash and collar. As each dog is different, the most important thing is that a well-trained dog will become a better companion along with way. Positive reinforcement and gentle training are the choice training of the day, with kindness, persistence, and patience. Oh yes, and lots of love.</p>
</p>
<h3>Health Problems</h3>
<p>The Bichon Frise has a life expectancy of around 14 years. A number of health problems and disorders are associated with this breed, and this includes luxating patella, epilepsy, cataracts, bleeding disorders, allergies, and bladder stones. The parents of your Bichon Frise puppy should have OFA and CERF certificates.</p>

</div>