<div class= "container">
    <h1>Extra Large Dog Breedss</h1>
    
<h2>St Bernard</h2>

<div class= pics><%= image_tag("stbernard.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Extra Large<br>Male: min. 27 inches; 120 - 200 lbs.<br> Female:  min. 25 inches; 120 - 200 lbs.</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td><p>White with red markings; or red with white markings. For show, the dog should have a white chest, white feet and the tip of the tail should be white.</p></td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>Despite their size, these dogs do fine in an apartment as long as they are exercised regularly. They like to be with their family, so in an apartment with their family is better than left out in a yard. Not tolerant of heat. If left in a yard, they are diggers, and good jumpers.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Moderate to Heavy</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Low to Moderate</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>8 - 10 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The Saint Bernard is a huge animal with a muscular build, yet he has a very docile, almost sad look about him. These dogs come in both long haired and short haired varieties. The former has a coat of medium length, which is rough in texture. The latter has a short, close fitting coat, which is also rough to the touch. The coloring of the coat is red and white or white and red, depending on the markings. The weight of this huge dog is around 125-180 pounds, and in height females can reach around 25-30 inches, and males 27-33 inches.</p>
<h3>Temperment</h3>
<p>Faithful, affectionate, intelligent, and just a little lazy, the Saint Bernard is a huge dog with a huge heart. When from well-bred lines, these dogs are calm, quiet, and sensible. The patient and docile Saint Bernard does need plenty of space because of his size, and is therefore not suited to those in apartments. He also needs a fair amount of exercise, and daily walks along with an opportunity to have a play around in a safe area will help to keep him fit and healthy. These working dogs are eager to please and happy to serve their family and master. Some of the areas the Saint Bernard may excel in include hauling, and search and rescue. These dogs do need to companionship of their owners, and are not suited to those with little time for a pet. They also need owners that are confident and assertive, and are best suited to those with some experience of dog ownership.

Although the Saint Bernard gets along well with children, early socialization is recommended, and owners should also be mindful of the giant size of the dog. A properly socialized Saint Bernard tends to get along well with other animals too, although some may display aggression towards other dogs. Most will also accept strangers. A well bred Saint Bernard is too docile to make it as a guard dog, but can make an effective watchdog, as his bark and size are enough to put off any burglar. He is a protective and loyal pet, and makes a good family dog for those with the space, time, and experience to provide him with a suitable living environment, lots of attention and interaction, and proper training. You may want to think twice about getting a Saint Bernard if you are very house proud, as they can be slobbery and drool a lot.</p>
<h3>Training</h3>
<p>Saint Bernard's are intelligent dogs that are eager to please their masters, so training them is usually quite easy. However, it's still very important to begin training your St. Bernard while he is quite young. Because he will grow to be so large, he can be impossible to manage when he is fully grown if he is not properly trained.

In addition, because of his size, it is important that your St. Bernard be socialized at an early age. Learning simple dog manners like not jumping on the houseguests is particularly important when your dog weighs 200 pounds! If these dogs are not socialized early and often, they will be quite intimidating to people, and can be quite clumsy. But, a well trained and well mannered St. Bernard will be enjoyed by all of your friends because of his sweet and gentle nature.

Training a St. Bernard requires gentleness and patience. Because they are so loyal and eager to please, they can get discouraged if they believe that you are becoming frustrated with their behavior. It is important to be calm, gentle and consistent when you're teaching them. If they perceive training to be an enjoyable activity where they're sure to win your praise, they'll be quite happy to learn any skill you'd like them to have.</p>
<h3>Health Problems</h3>
<p>As a giant dog, the Saint Bernard has a fairly low life expectancy of around 8-9 years. There are also a number of health problems to look out for with this breed, and this includes ectropion, entropion, heart defects, cancer, bloat, epilepsy, HD, and OCD. The parents of the Saint Bernard puppy should have OFA certificates.</p>
</div>

<div class= "container">
<h2>Mastiff</h2>

<div class= pics><%= image_tag("mastiff.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Extra Large<br>Male: min. of 30 inches; 175 - 200 lbs.<br> Female: min. of 27.5 inches; 175 - 200 lbs</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>Fawn, apricot, or brindle</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>Though large, because of their low activity level they do quite fine in an apartment or a house with a small yard. They prefer to be indside with their family. But remember, they are very large dogs, so that needs to be taken into consideration for everybody's comfort. They do need daily exercise. Also, they slobber and drool a lot, especially after eating or drinking. Matiff's prefer a cooler climate.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Low</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>10-12 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The Mastiff is a giant of a dog, and has a muscular and powerful build. These dogs always look alert and keen, but due to their sheer size can come across to some as menacing. The coat of the Mastiff is close fitting, short, and sleek. The coloring can be fawn, apricot, or brindle, with black markings around and between the eyes. He has a short, wrinkled muzzle, and his small ears fold forward to the sides of his head. The weight of the Mastiff is around 120-170 pounds for females, and 165-220 pounds for males. The height of these dogs is 28-32 inches for females, and 30-34 inches for males.</p>
<h3>Temperment</h3>
<p>The Mastiff is a dignified and loyal dog, with bags of courage, a pleasant nature, and high intelligence. The gigantic proportions of this breed make the Mastiff an effective deterrent and watchdog. Many Mastiffs are gentle giants, and have an even temper and docile nature. However, there can be aggression in some lines, and timidity in others. Early socialization is important with this breed in order to promote stability and confidence. These dogs require effective training, and although not difficult to train they do require a confident and assertive owner and are best suited to those with experience of dog ownership. This is not a breed for those with little time for a pet, as these dogs thrive on companionship and affection from their families.
The Mastiff is not an overly active dog, but he does need a moderate amount of exercise in order to keep him fit and healthy. Although these dogs do not bark much, he is too large for apartment living, and does need somewhere secure and safe to exercise and enjoy activities, as well as regular walks. The Mastiff gets along well with children that he has been brought up with, and many will get along fine with other pets, although some can be dominant. Many will also be friendly and welcoming toward strangers. In the right environment, and with early socialization and the correct training, these dogs make good family pets.</p>
<h3>Training</h3>
<p>Training the Mastiff can be a somewhat difficult process. They do tend to have a mind of their own and will try to dominate the process. Therefore it is essential to prove to the dog early on that you are the boss and that you mean the things that you say. This is done best through patient, consistent, but firm training.

One of the most essential elements for training the Mastiff is socialization. They are excellent watchdogs and guard dogs and therefore become very protective of their owners or families. It is essential that the dog is socialized from a very young age to try and reduce the tendency to become overly protective against strangers. This can be done by taking the dog to new places and meeting new people. It is essential for the owner to show the dog that the other person is safe and acceptable by being friendly and welcoming.

The Mastiff can be a very dominant dog around other animals, especially dogs of their same sex. However, this too can be minimized through socialization. They are gentle-giants today, but were originally bred to be fighting dogs and therefore those tendencies may come out every now and again. The Mastiff is not an agility dog and does not really like to be playful. However, they do follow obedience training moderately well. Despite their ability to pick up on obedience training, they have a very low to moderate ability for problem solving.</p>
<h3>Health Problems</h3>
<p>As with many larger dog breeds, the Mastiff has a relatively low life expectancy compared to some breed, and lives for around 5-10 years. There are a number of health problems to look out for with this breed, and this includes: luxating patella, strokes, epilepsy, spinal problems, eye problems, thyroid disorders, OCD, HOD, HD and elbow dysplasia, heart defects, bloat, kidney problems, and sensitivity to drugs and chemicals. They can also suffer heatstroke in very hot conditions. The parents of the Mastiff should have OFA and CERF certificates.</p>
</div>

<div class= "container">
<h2>Great Dane</h2>

<div class= pics><%= image_tag("greatdane.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Extra Large<br>Male: 27 - 29 inches; 120 - 200 lbs.<br> Female: 25 - 27 inches; 100 - 130 lbs.</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>Brindle, black-masked fawn, blue, black , harlequin (white with irregular black patches), or mantle (black with white collar, muzzle, chest, and tail tip)</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>For such a large dog, the Great Dane is extremely adaptable. They can live in an apartment as long as they get lots of regular exercise. A house with a yard also works great.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Moderate Low</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>6-8 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The Great Dane is a giant of a dog, and is the tallest of the dog breeds. These dogs have a well muscled and athletic build, and an expression of nobility and dignity. The Great Dane has a short, dense, and sleek coat, and the coloring can vary. This includes harlequin, brindle, blue, black, mantle, and fawn. The height of the Great Dane is around 30-34 inches for females and 33-38 inches for males. The weight of these dogs is 100-140 pounds for females and 145-190 pounds for males.</p>
<h3>Temperment</h3>
<p>The Great Dane is a giant of a dog with a patient and gentle personality. These sweet natured dogs make great family pets, and are attentive and devoted to their owners. The Great Dane is best suited to those with some experience of dog ownership, as they can be stubborn and bossy. Early and extensive socialization is also important to promote a stable, confident manner. The Great Dane is a bold, spirited breed, and his size alone means that he makes an effective watchdog. These dogs do need plenty of attention and devotion from their owners, and are not suited to those with little time to commit to a pet. Training should be consistent and firm, yet positive. The house proud may want to think twice before considering this breed, as they can be very messy and do drool.

Younger Great Danes can be very destructive and boisterous, and will need a good deal of supervision. These giant dogs do need a fair amount of exercise, and plenty of space will be needed because of their sheer size. When not on a leash the Great Dane will need a large, secured, safe area in which to exercise. The Great Dane is good with children when raised with them, but his size could cause a problem if you have very small children. When it comes to other pets, some Great Danes will be accepting but others may see themselves as the dominant one, and supervision may be required. Again, early socialization is important. The reaction of the Great Dane around strangers can also vary, and can depend upon the individual personality of the dog. These dogs are very sensitive, and some can come across as quite aloof. However, with consistent training and extensive, early socialization the Great Dane can make a very loyal and loving - if rather large - pet.</p>
<h3>Training</h3>
<p>The Great Dane is a gentle and calm dog that is typically very easy to train when training is started when they are very young. Older Great Danes may be more challenging to work with if they have not had foundation training when they are young. This is very typical of all dog breeds, but the large size of the Great Dane makes it very important to get the foundation training.

Obedience training is highly recommended for this breed to incorporate both training and socialization at a young age. The Great Dane should be trained using only calm and positive training methods never aggressive or harsh punishment should ever be used. The Great Dane is a very sensitive breed and will quickly become attuned to the handlers and owners emotions and approval or disapproval. Usually a sharp "no" and a lack of attention is all that is required to let the Great Dane know that they have done something wrong.

The Great Dane should be leash or lead trained and should be kept in a fenced yard or on a leash when outside. Even though they are not aggressive they are intimidating and can really frighten people that are not familiar with the breed. The Great Dane needs to be socialized with other dogs and non-canine pets and this should be part of the regular training program.

The Great Dane is usually relatively easy to train but occasionally a Great Dane can become somewhat dominant, requiring a firm and consistent owner. In these cases a professional trainer can also be used to help the dog and owner learn to work together and prevent dominance issues from becoming a problem. Since the Great Dane is so large it is critical to deal with behavior issues as soon as they occur, never allow bad habits to become established.

Often very excited and happy to see owners come home after a long day, they have to be taught not to jump up. Teaching the Great Dane to sit when he or she approaches someone is a great idea and helps to prevent anyone from being nervous when first meeting the dog.</p>
<h3>Health Problems</h3>
<p>The life expectancy of the Great Dane is around 6-8 years, which is far shorter than many other dog breeds. There are a number of problems associated with this breed, and this includes deafness, heart problems, bloat, HD, HOD, cataracts, and bone cancer. Care should also be taken in extreme temperatures, as the Great Dane is sensitive to extreme heat or cold. The parents of the Great Dane puppy should have OFA and CERF certificates.</p>
</div>

<div class= "container">
<h2>Bernese Mountain Dog</h2>

<div class= pics><%= image_tag("Bernese-Mountain-Dog-running.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Large-Extra Large<br>Male: 24 - 28 inches; 85 - 110 lbs.<br> Female: 23 - 27 inches; 80 - 105 lbs.</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>Tri-color: black with tan markings and white flashings.</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>Because of the size of this dog, and the amount of space he needs to run and play, dense urban areas are not good. But you don't need to be rural either, suburban or less dense urban areas will be fine. These dogs are very loyal and like to be inside, so they can adapt to smaller spaces if you can commit to exercising them daily.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Heavy</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Moderate Low</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>6-9 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>One of four varieties of Swiss Mountain Dog, the Bernese Mountain Dog is the only variety that possesses a long, silky coat. A hardy dog that thrives in cold weather, the "Berner’s" intelligence, strength and agility helped him perform the drafting and droving work in the mountainous region where he originated. Today, this versatile breed participates in conformation, obedience, carting, agility, tracking, herding and therapy work. Like the other Swiss breeds, they are tri-colored, with patches of black, rust and white.</p>
<p>According to breed standards, the Bernese has a well defined stop and a flat skull. The ears are medium sized and triangular in shape with rounded tips. They hang down close to the head. The tail should be bushy and carried low, the feet are round. The Bernese Mountain dog should NOT have blue eyes or any primary color other than black.</p>
<p>These dogs are one of the oldest working dogs recognized by the AKC. They were first recognized in 1937, and belong to the Working Group.</p>
<h3>Temperment</h3>
<p>If there's only one word to describe the Bernese Mountain Dog, it's "loyal". The chief goal of the Bernese Mountain Dog's life, however brief it may be compared to some other breeds, is to be a loyal, helpful companion to you and your family.

This has its advantages and its disadvantages, of course. The chief advantage of the Bernese Mountain Dog's friendly temperament is the ability the dogs have to integrate themselves into virtually any kind of family environment. Children or other household animals are not a problem whatsoever for the Bernese Mountain Dog (though of course the earlier it gets to know its fellow housemates, the better it will deal with them in adult life.) The Bernese Mountain Dog's herding instincts make it a natural with animals (or children) that it perceives as "lower" than itself in the pack hierarchy, and the dogs will serve as ideal watchdogs and protectors for even the most recalcitrant of children or the most vicious of cats.

The chief disadvantage of the Bernese Mountain Dog's temperament, however, is its neediness. The Bernese Mountain Dog has a powerful, genetically-rooted need to please its humans--which means that you'll have to devote a great deal of attention to this dog in order to keep it happy and to keep it out of trouble. Training is also more difficult for the Bernese Mountain Dog than for some breeds--although the Bernese Mountain Dog will try assiduously to please you, it doesn't have some of the cunning other breeds exhibit, which allow them to learn the rules quickly (and even sometimes to use the rules to manipulate you.) So training a Bernese Mountain Dog will require a great deal of patience, however good the dog's basic intentions and will are.

Another major quality of the Bernese Mountain Dog is its laziness. The Bernese Mountain Dog is only willing to exert large amounts of energy for fairly short periods of time, preferring to simply be with its humans or to engage in short bursts of work followed by rest. This can be a negative quality if you prefer your dogs to be active companions, but it can be an extremely positive quality if you're used to dogs whose abundance of energy leads to destructive behavior if you leave them alone for more than an hour or two.</p>
<h3>Training</h3>
<p>These dogs mature a bit slower than many other breeds, both physically and mentally, so this presents some slightly different problems than you may find with other breeds. If you push them too hard too young (especially different tricks), you increase the chance of injury. Their slow mental development usually means a shorter attention span.

The key to training a Bernese Mountain Dog, is to train them when they're slightly older than the average dog, starting heavy training at around two years is best, and to train them for short bursts every day rather than marathon obedience sessions, focusing on positive rewards whenever possible and varying activities so as to keep training interesting. If followed consistently without overtaxing (or endangering) your Bernese Mountain Dog, you can have a healthy dog throughout his prime without too much trouble, and the overall health you've helped to preserve in your dog may add years to his life.</p>
<h3>Health Problems</h3>
<p>Bernese Mountain Dogs have a much higher rate of fatal cancer than other breeds. In recent years, the Bernese Mountain Dog's average life span has plummeted from around 10-12 years to a scant 6-8 years, and much of that is attributed to cancer. It's important to get your Bernese Mountain Dog checked as frequently as possible by a qualified vet for signs of cancer in order to reduce the risks of your pet dying from this terrible disease.

Other problems to watch out for are musculoskeletal diseases, such as arthritis and hip dysplasia.</p>
</div>

<div class= "container">
<h2>Irish Wolfhound</h2>

<div class= pics><%= image_tag("irish-wolfhound.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Extra Large<br>Male: at least 32 inches; at least 120 lbs.<br> Female: at least 30 inches; at least 105 lbs.</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>Gray, brindle, red, black,white, or fawn</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>Though large, these dogs happily live indoors with their family (that is where they are happiest). They are quite inactive indoors, so you will hardly notice they are there except for having to step over them. Their exercise is important so a yard where they can run free is ideal, or provide daily walks and exercise time outside.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Low</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>6-8 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The Irish Wolfhound is a giant of a dog, and stands at around 30-34 inches for females, and 32-36 inches for males. The weight of the Irish Wolfhound is around 105-125 pounds for females and around 120-155 pounds for males. The Irish Wolfhound has a harsh, rough coat. The coloring of the coat can vary and includes brindle, black, white, red, fawn, and gray.</p>
<h3>Temperment</h3>
<p>One of the tallest and largest dog breeds in the world, the Irish Wolfhound has become known as the gentle giant. These dogs carry themselves with dignity, have an amiable and gentle disposition, and are always eager to please their owners. Although they do need plenty of space and attention, these dogs can make excellent family pets. The Irish Wolfhound is intelligent and a fairly quick learner, which can help to make training easier. These dogs can be very independent and, during the early years can also be destructive, making them best suited to owners with some experience of dog ownership. The Irish Wolfhound does need a fair amount of exercise, but whilst still growing care should be taken not to provide physical activity that may be too strenuous for him as he continues to grow. For older dogs daily walks and a safe, secured area in which to run will suffice.

The Irish Wolfhound is an easy going dog, and is friendly, sociable, and good with children - although do take care around smaller children because of his size. Although he may give chase with smaller animals that run, he tends to get along well with other animals in general. These dogs also tend to get along fine with strangers. The Irish Wolfhound is not an aggressive or suspicious dog, and this means that his skills as a watchdog do leave something to be desired, although his size along can serve as a deterrent. The gentle attitude of this breed means that early socialization is important to improve confidence and sociability. An affectionate and very loving breed, the Irish Wolfhound will make a good family pet for those with the space and the time to look after a large dog.</p>
<h3>Training</h3>
<p>Training for the Irish Wolfhound must begin when they are a puppy and before they are too large to handle. One of the first things they need to be taught is how to walk on a leash. It's extremely important that they not be allowed to pull. Remember, the size they will be as adults. If they pull as a puppy, they will continue to pull as an adult. Because of their loving affectionate nature, try to always use a loving and positive approach when training, as they will respond much better. When trainers say to use a firm hand, they don't mean harsh and physical, just firm so they know what is expected of them.

He will be very quick to catch on to what you want of him. They need to be given plenty of self-confidence so they grow up to be proud and friendly dogs, not shy or aggressive. It's also important that your Irish Wolfhound be properly socialized around other people and children so he comes to know that they are friends and not something to fear. They do have minds of their won and need to be shown from you what is acceptable and what is not.

As with exercise, there should not be too much training at one time when they are still growing so as to not over stress and damage their young bones, joints and ligaments. When you look at this big puppy, you will have a hard time remembering they are still a puppy, but they cannot be pushed too hard. Also, do not exercise for an hour before or for two hours after eating to avoid the Irish Wolfhound getting bloat, a condition that is quite common for the breed.

If you plan to show your Irish Wolfhound in the ring, you will need to train him all his basic commands such as sit, stay, come, down, in addition to teaching him to walk on the lead in his correct position. When you start off with him still as a puppy, just do a little exercise at a time. They love doing things with you and love pleasing you, so try to make this into a pleasant experience. You may also want to consider taking him to a professional trainer. It is important that you participate along with the trainer so he knows he must respond to you as well as the trainer.</p>
<h3>Health Problems</h3>
<p>There are a number of health problems to look out for with the Irish Wolfhound. This includes bloat, liver problems, heart problems, bone cancer, sensitivity to chemicals and drugs, vWD, OCD, PRA, HD, and cataracts. Whilst still growing the joints of the Irish Wolfhound can be susceptible to damage, which is why it is important not to provide exercise that it too strenuous. The life expectancy of the Irish Wolfhound, as with many other larger breeds, is relatively short at 6-8 years. The parents of the Irish Wolfhound puppy should have OFA and CERF certificates.</p>
</div>

<div class= "container">
<h2>Scottish Deerhound</h2>

<div class= pics><%= image_tag("sdeerhound.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Extra Large<br>Male: 30 - 32 inches; 85 - 110 lbs.<br> Female: at least 28 inches; 75 - 95 lbs.</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>All shades of gray and gray brindle, with dark blue-gray preferred; yellow, red, and fawn are permitted but not seen very often today.</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>Can live in an apartment so long as they are given plenty of exercise. When they are indoors, they are docile and quiet, due to their elegant and polite nature. It is critical for their health and happiness that they be given lots of exercise outdoors. The ideal place is a farm with acres for roaming and tracking.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Low-Moderate</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>7-9 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The Scottish Deerhound is a giant dog with long legs, a svelte yet sturdy build, and an intelligent expression. This is a dog that carries himself with grace and elegance. He has a shaggy but not abundant cost, which is rough in texture. Coloring of the Scottish Deerhound includes blue gray, lighter gray, dark gray, red fawn, sandy red, and brindle. He has a long muzzle, and ears that hang down to frame the face. The height of the Scottish Deerhound is 28-32 inches for females and 30-33 inches for males. These dogs weigh in at 75-95 pounds for females and 85-100 pounds for males.</p>
<h3>Temperment</h3>
<p>The Scottish Deerhound is a giant of a dog, with a certain regal charm, elegance, and dignity about him. Very loyal and devoted, the Scottish Deerhound is a docile and loving breed, and is a bad choice for those looking for a watchdog or guard dog! These dogs have great agility and speed, and need plenty of space to run around and exercise, although they are not demanding in terms of walks and accompanied exercise. However, that is not to say that he will appreciate being neglected, as he does thrive on the affection and devotion of his owner and family. A fenced and secure area for the Scottish Deerhound to exercise and run is essential for his own safety, as he can be up, off, and away in next to no time. Although Scottish Deerhound puppies can be boisterous and energetic, these dogs tend to be very calm when they are older, and do enjoy their creature comforts.

The Scottish Deerhound is sensitive and sweet natured, but can sometimes be stubborn. He is best suited to those with some experience of dog ownership and training. Early socialization is important with this breed to promote a stable attitude and temperament. The Scottish Deerhound gets along well with children, and is usually polite around strangers. He may give chase to small animals such as little dogs and cats, but tends to get along okay with household dogs. The Scottish Deerhound is not a demanding breed, and his quiet, calm dignity and grace makes him ideal for those that want a solid, dependable companion who is not clingy. However, it is essential that those considering a Scottish Deerhound as a family pet have the necessary space, both indoors and outdoors, to accommodate this gentle giant.</p>
<h3>Training</h3>
<p>The Scottish Deerhound is a calm and gentle dog, but there are some special training considerations that you must understand with them.

First of all, they can be stubborn and slow to obey. They are loving dogs, but are less concerned with pleasing their masters than many other breeds. For this reason, they must be trained early and consistently. They should be crate trained for housebreaking, as they can be a bit slow to house train. Do not allow you Scottish Deerhound to roam the house unsupervised until he is completely housetrained. Keep him in his crate unless you are actively engaged with him and give him plenty of opportunity to go to the bathroom in the appropriate spot. It typically takes 4-6 months to fully house train a Scottish Deerhound.

Scottish Deerhounds can be sensitive. They do not function well in households that are very stressful and noisy. They need to live in a very happy and calm household They also do not handle a change in schedule well; so this is not the dog for the frequent traveler.

The Scottish Deerhound requires socialization. They can be somewhat timid and standoffish with strangers. Early and consistent socialization will help them feel more comfortable around all types of people. This is particularly important if your family entertains regularly and there are often new people in your home.

It is highly recommended that your Scottish Deerhound be enrolled in agility training or lure coursing. Lure coursing allows the dog to chase a mechanized lure around a track or across an open field. These types of activities help keep your Scottish Deerhound healthy and allow him the running opportunity he needs.

It's important to understand that these dogs have an innate desire to chase and hunt. They will, therefore, consider any small outdoor animal to be game. If your dog is left alone off leash, he will chase the neighbor's cat and all squirrels and chipmunks he comes across. This tendency is extremely difficult to break. It's best to keep your Scottish Deerhound confined outdoors if he is apt to come across other creatures he might see as a fair chase.</p>
<h3>Health Problems</h3>
<p>The life expectancy of the Scottish Deerhound is around 8-11 years, and there are a number of health problems to look out for with this breed. This includes heart problems, bloat, OCD, bone cancer, and sensitivity to chemicals and drugs. The parents of the Scottish Deerhound puppy should have OFA certificates.</p>
</div>

<div class= "container">
<h2>Tibetan Mastiff</h2>

<div class= pics><%= image_tag("Dog_Tibetan-Mastiff.jpg", width: '400px')%></div>
<table>
    <tr>
        <td>Size</td>
        <td>Extra Large<br>Male: 22 - 24 inches; 90 - 150 lbs<br> Female: 22 -23 inches; 80 - 110 lbs.</td>
    </tr>
    <tr>
        <td>Colour</td>
        <td>Black, brown, and gray, all with or without tan markings; various shades of gold; white markings on breast and feet acceptable.</td>
    </tr>
    <tr>
        <td>Living Area</td>
        <td>Best in a house with a yard, though they still need daily walks. They do best living with their family, because if left alone for long (even in a yard) they become bored and frustrated and can become very destructive.</td>
    </tr>
    <tr>
        <td>Shedding</td>
        <td>Moderaate</td>
    </tr>
    <tr>
        <td>Energy Level</td>
        <td>Low</td>
    </tr>
    <tr>
        <td>Life Span</td>
        <td>11-14 Years</td>
    </tr>
</table>

<h3>Description</h3>
<p>The Tibetan Mastiff is a large or giant sized dog. He has a very powerful and heavy build, and as the largest of the Oriental breeds can put off potential intruders by appearance and size alone. The Tibetan Mastiff has a serious yet calm expression. His double coat is thick and of medium length. The coloring of the Tibetan Mastiff can vary and includes black and tan, blue and tan, black, grizzle, sable, cream, and brown. These huge dogs weigh in at around 70-125 pounds for females and around 100-140 pounds for males. The height of the Tibetan Mastiff is around 25-26 inches for females, and 27-30 inches for males.</p>
<h3>Temperment</h3>
<p>Fearless and protective, yet patient and gentle, the Tibetan Mastiff is a dog that makes a fine family pet for those with the confidence and experience to handle him. Best suited to more experienced dog owners, the Tibetan Mastiff is a loyal, devoted, and reliable creature. He definitely has a mind of his own, and is alert, confident, and self-reliant. He is also highly intelligent and very quick to learn. These dogs are fierce family protectors, whilst remaining patient and docile with their loved ones. The Tibetan Mastiff needs an owner that has the confidence and assertiveness to handle him properly, with consistent and positive training. Early training and socialization is recommended with the Tibetan Mastiff to promote stability in his temperament.

The Tibetan Mastiff is a large dog and does need a fair amount of exercise to keep fit and healthy, although he is not an overly active dog. He is and agile climber and jumper, and this means that he will need a safe, secure - and large - area in which to play and exercise when not on a leash. They can be keen on the sound of their own voices too, not to mention being dedicated diggers in some cases. The Tibetan Mastiff can be very cautious around strangers until he has determined who can be trusted and who cannot. They can be good with other pets, but again early socialization is important, particularly with outside pets. He is a little on the large side for very small children, but does get along well with gentle, older kids.</p>
<h3>Training</h3>
<p>This breed learns very quickly and is extremely eager to please. They have a self-reliant and independent nature that may lead them to avoid doing things they've already learned. They benefit from early socializations and obedience. The Tibetan Terrier will not respond to harsh or heavy-handed training methods. They do best with positive reinforcement, consistency, patience, and respectful loving direction.</p>
<h3>Health Problems</h3>
<p>For a large/giant sized dog, the Tibetan Mastiff has a relatively long life expectancy of 10-14 years. There are a number of health issues to look out for with this breed, and this includes thyroid problems, HD, heart problems, eye disorders, allergies, autoimmune problems, and sensitivity to chemicals and drugs. The parents of the Tibetan Mastiff puppy should have OFA certificates.</p>
</div>